Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Path conditions:
  build:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-mingw: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile

Docs: fix me being too hasty
  docs/application_development/tutorials/satellite_py.md
Due: none

Docs: also ingest GitLab satellites
  docs/conf.py
  docs/copy_satellite_docs.py
  pyproject.toml
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs: exclude some names from spelling
  docs/.spelling_jargon.txt
  docs/.spelling_names.txt
Due: none

docs: add icons to sat list
  docs/conf.py
Due: none

docs: fix jargon
  docs/.spelling_jargon.txt
  docs/.spelling_names.txt
Due: none

docs: only include gitlab satellites with a tag
  docs/conf.py
  docs/copy_satellite_docs.py
Due: none

docs: new intro to sat library
  docs/satellites/index.md.in
Due: none

docs: fix offline build
  docs/conf.py
Due: none

docs: add info on listing satellites
  docs/application_development/index.md
  docs/application_development/intro/listing.md
  docs/satellites/index.md.in
Due: none

docs: unbreak microsat links
  docs/application_development/tutorials/satellite_cxx.md
  docs/application_development/tutorials/satellite_py.md
Due: none

CI: use debian-clang as basis for cnstln image to get clang-tools
  etc/Dockerfile
Due: none

CI: tag image using release
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: build docker image for downstream projects
  .gitlab-ci.yml
  etc/Dockerfile
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: "latest" is not actually something special but a random tag name apparently :/ So, push the tag AND set it to latest
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: generate new image only for tags
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: set entry point for docker
  etc/Dockerfile
Due: none

CI/Docker: export PKGCFG_PATH
  etc/Dockerfile
Due: none

python: _wrap_failure should take a payload
  python/constellation/core/error.py
  python/constellation/core/satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/exec: log explicitly from which path DSO is being loaded
  cxx/constellation/exec/DSOLoader.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: fix metrics value in documentation
  docs/application_development/functionality/metrics.md
Due: none

CI: run clang-scan-build on hi-load runners
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: coverity-scan can be extended from cpp-hi-load
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: document how to gain access to DESY GitLab
  docs/framework_reference/contributing.md
Due: none

fix(py-h5): write user-set EOR attr info into file
  python/constellation/satellites/H5DataWriter/H5DataWriter.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

feat(py-tests): test EOR CDTP behavior
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs(py-caenhv): add supported model and status
  python/constellation/satellites/CaenHV/CaenHV.py
  python/constellation/satellites/CaenHV/README.md
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

refactor(py-caenhv): rm return inside context
  python/constellation/satellites/CaenHV/CaenHV.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs(py-caenhv): spelling
  python/constellation/satellites/CaenHV/README.md
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

pre-commit: add pyupgrade
  .pre-commit-config.yaml
Due: none

pre-commit: update hooks
  .pre-commit-config.yaml
Due: none

python: apply pyupgrade
  docs/conf.py
  docs/copy_satellite_docs.py
  python/constellation/core/chirpmanager.py
  python/constellation/core/chp.py
  python/constellation/core/commandmanager.py
  python/constellation/core/configuration.py
  python/constellation/core/controller.py
  python/constellation/core/cscp.py
  python/constellation/core/datareceiver.py
  python/constellation/core/error.py
  python/constellation/core/fsm.py
  python/constellation/core/heartbeatchecker.py
  python/constellation/core/message/cscp1.py
  python/constellation/core/message/msgpack_helpers.py
  python/constellation/core/monitoring.py
  python/constellation/core/network.py
  python/constellation/core/protocol.py
  python/constellation/core/satellite.py
  python/constellation/satellites/CaenHV/lib_caen_ndt1470.py
  python/constellation/satellites/H5DataWriter/H5DataWriter.py
  python/constellation/satellites/LeCroy/LeCroySatellite.py
  python/constellation/tools/H5datareader.py
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs: fix missing await_state() calls for initialization
  docs/operator_guide/howtos/scanning_python.md
Due: none

python/ctrl: log name of satellite on connection to info
  python/constellation/core/controller.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python/ctrl: add new await_satellites function to wait for specific satellites
  docs/operator_guide/howtos/scanning_python.md
  python/constellation/core/controller.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python/satellite: fix TypeError: unsupported operand type(s) for +=: 'NoneType' and 'str'
  python/constellation/core/satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

meson: ignore wraplock file added in 1.9.0
  subprojects/.gitignore
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

meson: update wraps
  subprojects/argparse.wrap
  subprojects/asio.wrap
  subprojects/catch2.wrap
  subprojects/cpr.wrap
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: remove default options from flatpak manifest
  docs/framework_reference/flatpak.md
Due: none

py/cli: proper imports
  pyproject.toml
  python/constellation/core/controller.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/core: improve exception log message
  python/constellation/core/error.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp
