Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Path conditions:
  build:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-mingw: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile

introduce new log topic DATA for all data link related information
  cxx/constellation/satellite/ReceiverSatellite.cpp
  cxx/constellation/satellite/TransmitterSatellite.cpp
  docs/operator_guide/concepts/logging.md
  python/constellation/core/datareceiver.py
  python/constellation/core/datasender.py
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/sat/receiver: since they have the same topic, just use the pool logger
  cxx/constellation/satellite/ReceiverSatellite.cpp
  cxx/constellation/satellite/ReceiverSatellite.hpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

python: fix log level needing to be provided upper case
  python/constellation/core/base.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

LeCroy: fix using old log_level arg
  python/constellation/satellites/LeCroy/__main__.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx: allow not building any satellite
  cxx/satellites/meson.build
  docs/operator_guide/get_started/install_from_source.md
  meson_options.txt
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/sat: drop unused beader
  cxx/constellation/satellite/ReceiverSatellite.hpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

python/test: update expected log topics
  python/tests/test_satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

CI: use system mem allocator for sanitizer and static code analysis jobs
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: correct output if no allocator has been found
  cxx/meson.build
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: some trivial coverity fixes
  cxx/constellation/core/networking/asio_helpers.cpp
  cxx/constellation/core/networking/asio_helpers.hpp
  cxx/constellation/exec/cli.cpp
  cxx/constellation/satellite/CommandRegistry.ipp
  cxx/constellation/satellite/FSM.cpp
  cxx/tools/chp_sender.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

python: rename broadcastmanager file
  python/constellation/core/chirpmanager.py
  python/constellation/core/controller.py
  python/constellation/core/datareceiver.py
  python/constellation/core/datasender.py
  python/constellation/core/monitoring.py
  python/constellation/core/satellite.py
  python/constellation/meson.build
  python/tests/test_cdtp.py
  python/tests/test_chirpmanager.py
  python/tests/test_satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs: update Python reference
  docs/framework_reference/python/core/core.broadcastmanager.rst
  docs/framework_reference/python/core/core.chirpmanager.rst
  docs/framework_reference/python/core/core.multicast.rst
  docs/framework_reference/python/core/core.rst
  python/constellation/core/heartbeater.py
  python/constellation/core/satellite.py
  python/tests/test_chirpmanager.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python: start renaming broadcast methods to comply with using multicasts
  python/constellation/core/broadcastmanager.py
  python/constellation/core/chirp.py
  python/tests/test_chirp.py
  python/tests/test_monitoring.py
  python/tests/test_satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python/chirpmanager: update docs & function names
  python/constellation/core/chirpmanager.py
  python/constellation/core/controller.py
  python/constellation/core/datasender.py
  python/constellation/core/monitoring.py
  python/constellation/core/satellite.py
  python/tests/test_chirpmanager.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx: fix missing installation of some headers
  cxx/constellation/core/meson.build
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/ctrl/mq: notify start only when actually in loop
  cxx/constellation/controller/MeasurementQueue.cpp
  cxx/constellation/controller/MeasurementQueue.hpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/ctrl: move state changed check to Controller and use heartbeats
  cxx/constellation/controller/Controller.cpp
  cxx/constellation/controller/Controller.hpp
  cxx/constellation/controller/MeasurementQueue.cpp
  cxx/constellation/controller/MeasurementQueue.hpp
  cxx/constellation/core/utils/timers.hpp
  cxx/tests/dummy_controller.hpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/ctrl/mq: remove await_state wrapper
  cxx/constellation/controller/MeasurementQueue.cpp
  cxx/constellation/controller/MeasurementQueue.hpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/ctrl/mq: check that state changed after reconfiguring
  cxx/constellation/controller/MeasurementQueue.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/tests: make a bit more robust
  cxx/tests/test_controller_base.cpp
  cxx/tests/test_controller_queue.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/ctrl: rename last changed to last change
  cxx/constellation/controller/Controller.cpp
  cxx/constellation/controller/Controller.hpp
  cxx/constellation/controller/MeasurementQueue.cpp
  cxx/constellation/controller/MeasurementQueue.hpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Fix wording
  cxx/constellation/controller/Controller.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: improve lambda registration for custom commands
  cxx/constellation/core/utils/type.hpp
  cxx/constellation/satellite/CommandRegistry.hpp
  cxx/constellation/satellite/CommandRegistry.ipp
  cxx/constellation/satellite/Satellite.hpp
  cxx/constellation/satellite/Satellite.ipp
  docs/application_development/functionality/custom_commands.md
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs(py-cdtp): add info on data transmission
  docs/application_development/functionality/data_transmission.md
Due: none

docs(py-tutorial): extend w/ example code
  docs/application_development/tutorials/satellite_py.md
Due: none

docs(py-tutorial): add missed states to warning
  docs/application_development/tutorials/satellite_py.md
Due: none

docs(py-cdtp): fix metadata types
  docs/application_development/functionality/data_transmission.md
Due: none

docs(py-cdtp): fix spelling
  docs/application_development/functionality/data_transmission.md
Due: none

docs(py-cmdp): extend info on metrics
  docs/application_development/functionality/metrics.md
Due: none

docs(py-cscp): add info on cmd doc string
  docs/application_development/functionality/custom_commands.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/application_development/tutorials/satellite_py.md
Due: none

feat(py-cmdp)!: do not send metrics in some states
  python/constellation/core/fsm.py
  python/constellation/core/monitoring.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs(py-cscp): fix tab-item
  docs/application_development/functionality/custom_commands.md
Due: none

ci(codespell): "programmatically" is a word
  .codespellrc
Due: none

docs(py-cmdp): add info on metric description
  docs/application_development/functionality/metrics.md
Due: none

feat(py-cmdp): send metrics in `reconfiguring`
  python/constellation/core/fsm.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

ci(spelling): "programmatically" is a word
  docs/.spelling_jargon.txt
Due: none

docs: use passive voice
  docs/application_development/functionality/custom_commands.md
  docs/application_development/functionality/data_transmission.md
  docs/application_development/functionality/metrics.md
  docs/application_development/tutorials/satellite_py.md
Due: none

docs(py-cmdp): adjust to changes made in !853
  docs/application_development/functionality/metrics.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/application_development/functionality/data_transmission.md
Due: none
