Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

Path conditions:
  build:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:alma10: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-mingw: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:alma10: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:fedora-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  deploy:bundle-mingw-artifacts: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile

docs/faq: add section on section reconfigure
  docs/operator_guide/get_started/faq.md
Due: none

docs/faq: config warning
  docs/operator_guide/get_started/faq.md
Due: none

docs/faq: add question on missing logs
  docs/operator_guide/get_started/faq.md
Due: none

docs: start adding FAQ
  docs/operator_guide/get_started/faq.md
  docs/operator_guide/index.md
Due: none

docs/faq: add faq item for env variables
  docs/operator_guide/get_started/faq.md
Due: none

docs/faq: stuck in transitional state
  docs/operator_guide/get_started/faq.md
Due: none

cxx/sat/FlightRecorder: fix readme
  cxx/satellites/FlightRecorder/README.md
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/ctrl: allow to check if any satellite is in a given state
  cxx/constellation/controller/Controller.cpp
  cxx/constellation/controller/Controller.hpp
  cxx/tests/test_controller_base.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs: drop macOS mention
  docs/operator_guide/get_started/faq.md
Due: none

fix ruff in faq
  docs/operator_guide/get_started/faq.md
Due: none

py/cscp: stringify exception properly in case command raised exception
  python/constellation/core/commandmanager.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/cscp: fix add_cscp_command method attributes
  python/constellation/core/commandmanager.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/cscp: unpack custom CSCP arguments instead of using CSCP1Message
  python/constellation/core/commandmanager.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/cscp: simplify cscp commands
  python/constellation/core/commandmanager.py
  python/constellation/core/fsm.py
  python/constellation/core/heartbeater.py
  python/constellation/core/satellite.py
  python/constellation/satellites/H5DataWriter/H5DataWriter.py
  python/constellation/satellites/Keithley/Keithley.py
  python/constellation/satellites/LakeShore218/LakeShore218.py
  python/constellation/satellites/LeCroy/LeCroySatellite.py
  python/constellation/satellites/Mariner/Mariner.py
  python/constellation/satellites/PyDevNullReceiver/PyDevNullReceiver.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/tests: adapt for new cscp interface and add test for multi payload
  python/tests/test_cmd_receiver.py
  python/tests/test_satellite.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs: add backtickts do docstring
  python/constellation/core/commandmanager.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs: adjust Python custom command description
  docs/application_development/functionality/custom_commands.md
Due: none

cxx: adjust EOR tag test
  cxx/tests/test_satellite_data.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx: introduce satellite versioning
  cxx/constellation/core/protocol/CSCP_definitions.hpp
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/constellation/satellite/BaseSatellite.hpp
  cxx/constellation/satellite/ReceiverSatellite.cpp
  cxx/constellation/satellite/ReceiverSatellite.hpp
  cxx/constellation/satellite/Satellite.cpp
  cxx/constellation/satellite/Satellite.hpp
  cxx/constellation/satellite/TransmitterSatellite.cpp
  cxx/constellation/satellite/TransmitterSatellite.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/satellite: expose command
  cxx/constellation/satellite/BaseSatellite.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

py: introduce satellite versioning
  python/constellation/core/satellite.py
  python/constellation/core/transmitter_satellite.py
  python/tests/test_satellite.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python: print satellite version when using --version
  python/constellation/core/base.py
  python/constellation/core/satellite.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx: fix exec test
  cxx/tests/test_exec_cli.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx: pass satellite version to SatelliteType
  cxx/constellation/exec/cli.cpp
  cxx/constellation/exec/cli.hpp
  cxx/constellation/exec/satellite.cpp
  cxx/constellation/exec/satellite.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

Adjust CSCP requestable signature in preparation for Constellation v1.0
  python/constellation/satellites/EtrocReceiver/EtrocReceiver.py
  python/constellation/satellites/EtrocTransmitter/EtrocTransmitter.py
  python/constellation/satellites/EtrocWaveform/EtrocWaveform.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Update FSM state permission checks to modern version
  python/constellation/satellites/EtrocTransmitter/EtrocTransmitter.py
  python/constellation/satellites/EtrocWaveform/EtrocWaveform.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx: also print type in version
  cxx/constellation/exec/cli.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs: start describing how to start remote satellites
  docs/operator_guide/howtos/remote_satellites.md
  docs/operator_guide/index.md
  docs/operator_guide/tutorials/single_satellite.md
Due: none

docs: spelling Ansible
  docs/.spelling_names.txt
Due: none

docs: drop Ansible for now
  docs/operator_guide/howtos/remote_satellites.md
Due: none

docs: add version to GitLab-sourced satellites
  docs/copy_satellite_docs.py
Due: none

Add async CLI controller with IPython bridge
  pyproject.toml
  python/constellation/core/async_experimental/async_basecontroller.py
  python/constellation/core/async_experimental/async_controller.py
  python/constellation/meson.build
  python/constellation/tools/async_controller.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Address PR review comments on async framework
  python/constellation/core/async_experimental/async_basecontroller.py
  python/constellation/core/async_experimental/async_chirp.py
  python/constellation/core/async_experimental/async_heartbeat.py
  python/constellation/core/async_experimental/async_pools.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Fix shutdown deadlock and add setup callback exception logging
  python/constellation/core/async_experimental/async_basecontroller.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Fix REUSE headers and formatting in async_experimental files
  python/constellation/core/async_experimental/async_chirp.py
  python/constellation/core/async_experimental/async_heartbeat.py
  python/constellation/core/async_experimental/async_pools.py
  python/constellation/core/async_experimental/bridge.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Add seealso cross-references to WebControl protocol and developer docs
  docs/operator_guide/tutorials/webcontrol.md
  python/constellation/core/async_experimental/async_cmdplistener.py
  python/constellation/core/async_experimental/async_monitoringlistener.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Added async_experimental package to meson build
  python/constellation/meson.build
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Add async framework integration classes
  python/constellation/core/async_experimental/async_basecontroller.py
  python/constellation/core/async_experimental/async_chirpmanager.py
  python/constellation/core/async_experimental/async_heartbeatchecker.py
  python/constellation/core/async_experimental/async_monitoringlistener.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Discovery logic, register_service, addresses list, socket architecture
  python/constellation/core/async_experimental/async_chirp.py
  python/constellation/core/async_experimental/bridge.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Restructure async CHIRP and apply MR 1131 casing fixes
  python/constellation/core/async_experimental/async_chirp.py
  python/constellation/core/async_experimental/async_heartbeat.py
  python/constellation/core/async_experimental/bridge.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp
