Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

build:alma9-gcc14:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:debian-clang:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:debian-clang-libcxx:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:debian-gcc:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:fedora-clang:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:fedora-mingw:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:ubuntu-22.04:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull-push
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:ubuntu-24.04:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:python-3.11:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools
  - pip install meson-python meson ninja
  ...

build:python-3.12:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools
  - pip install meson-python meson ninja
  ...

build:python-3.13:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools
  - pip install meson-python meson ninja
  ...

meson: disbale warning when build_gui=none
  cxx/controllers/MissionControl/meson.build
  cxx/listeners/Observatory/meson.build
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: add empty description of project templates
  docs/application_development/index.md
  docs/application_development/intro/templates.md
Due: none

docs: wording
  docs/application_development/index.md
  docs/application_development/intro/listing.md
  docs/application_development/intro/tools.md
Due: none

docs: add tools description
  docs/application_development/index.md
  docs/application_development/intro/tools.md
Due: none

docs: update howto for external satellites
  docs/application_development/howtos/external_satellite.md
Due: none

docs: fix COnstellation typo
  docs/application_development/intro/listing.md
Due: none

docs/app: add crosslink
  docs/application_development/howtos/external_satellite.md
Due: none

docs: add template projects to release process
  docs/framework_reference/release.md
Due: none

docs: update docs for templates
  docs/application_development/howtos/external_satellite.md
  docs/application_development/howtos/migrate_external_satellite.md
  docs/application_development/index.md
  docs/application_development/intro/templates.md
  docs/application_development/intro/tools.md
  docs/application_development/tutorials/satellite_cxx.md
  docs/application_development/tutorials/satellite_py.md
  docs/application_development/tutorials/templates.md
  docs/operator_guide/get_started/install_from_source.md
Due: none

Add github action for building
  .github/workflows/build.yml
Due: none

Github: add formatting workflow
  .clang-format-ignore
  .github/workflows/format.yml
Due: none

Github: add action for docs
  .github/workflows/docs.yml
Due: none

Github: adjust titles
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
Due: none

cxx/core/utils: add quoting mechanism
  cxx/constellation/core/utils/string.hpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: add first batch of quote function
  cxx/constellation/controller/Controller.cpp
  cxx/constellation/controller/ControllerConfiguration.cpp
  cxx/constellation/controller/MeasurementQueue.cpp
  cxx/constellation/core/config/exceptions.cpp
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
  cxx/constellation/core/utils/string.hpp
  cxx/constellation/exec/cli.cpp
  cxx/constellation/exec/satellite.cpp
  cxx/constellation/satellite/CommandRegistry.ipp
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/ReceiverSatellite.cpp
  cxx/controllers/MissionControl/MissionControl.cpp
  cxx/satellites/Mattermost/MattermostSatellite.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: replace std::quoted with utils::quote
  cxx/constellation/core/config/Configuration.cpp
  cxx/constellation/core/log/CMDPSink.cpp
  cxx/constellation/core/metrics/MetricsManager.cpp
  cxx/constellation/core/pools/SubscriberPool.ipp
  cxx/constellation/exec/DSOLoader.cpp
  cxx/constellation/listener/CMDPListener.cpp
  cxx/constellation/listener/LogListener.cpp
  cxx/constellation/listener/StatListener.cpp
  cxx/constellation/satellite/FSM.cpp
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
  cxx/tests/dummy_listener.hpp
  cxx/tools/chirp_manager.cpp
  cxx/tools/chp_receiver.cpp
  cxx/tools/chp_sender.cpp
  cxx/tools/dummy_controller.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: replace double quotes with utils::quote
  cxx/constellation/core/message/CMDP1Message.cpp
  cxx/constellation/core/message/exceptions.hpp
  cxx/constellation/core/metrics/exceptions.hpp
  cxx/constellation/exec/exceptions.hpp
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/constellation/satellite/exceptions.hpp
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
  cxx/tools/dummy_controller.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: adapt tests
  cxx/constellation/controller/ControllerConfiguration.cpp
  cxx/constellation/satellite/FSM.cpp
  cxx/tests/test_core_chp_manager.cpp
  cxx/tests/test_core_message.cpp
  cxx/tests/test_exec_dsoloader.cpp
  cxx/tests/test_satellite_base.cpp
  cxx/tests/test_satellite_fsm.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: fix linter
  cxx/constellation/core/metrics/MetricsManager.cpp
  cxx/constellation/core/utils/string.hpp
  cxx/constellation/exec/satellite.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

GitHub: fix workflow
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
Due: none

docs/operator_guide: Add systemd how-to
  docs/operator_guide/howtos/setup_systemd.md
  docs/operator_guide/index.md
Due: none

docs: Add "systemd" & "polkit" as correctly spelled words
  docs/.spelling_names.txt
Due: none

CI: add second docker image and improve build
  .gitlab-ci.yml
  etc/Dockerfile
  etc/docker/constellation/Dockerfile
  etc/docker/constellation_ci/Dockerfile
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: pass ndebug=true to mimalloc
  cxx/meson.build
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: document installting via CI images
  docs/operator_guide/get_started/install_from_docker.md
  docs/operator_guide/index.md
Due: none

cxx: fix header inclusion
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
  cxx/tools/chirp_manager.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/exec: meson should also add bindir when not installed
  cxx/constellation/exec/meson.build
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs/systemd: Rephrase in passive form
  docs/operator_guide/howtos/setup_systemd.md
Due: none

docs/systemd: Switch to systemd exec type
  docs/operator_guide/howtos/setup_systemd.md
Due: none

authors: Add myself
  AUTHORS.md
Due: none

Enable compression for a small performance boost
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/msg: allow counting blocks
  cxx/constellation/core/message/CDTP2Message.hpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: use countBlocks() function
  cxx/constellation/satellite/TransmitterSatellite.cpp
  cxx/tests/test_core_message.cpp
  cxx/tests/test_satellite_data.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Move scripts to etc
  .gitlab-ci.yml
  etc/scripts/create_source_dist.sh
  etc/scripts/meson_enable_all_components.sh
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: add exception for venv in codespellrc
  .codespellrc
Due: none

CI: adjust to new CI build matrix
  .cross/mingw-ucrt.ini
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: fedora doesn't symlink clang-tidy-diff
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: use debian-clang for tsan
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: disable libbsd in libzmq by default
  cxx/meson.build
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

update CI docker image to use fedora-clang
  docs/operator_guide/get_started/install_from_docker.md
  etc/docker/constellation/Dockerfile
  etc/docker/constellation_ci/Dockerfile
Due: none

Path conditions:
  build:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-mingw: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
