Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Path conditions:
  build:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-mingw: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile

cxx: update metrics names
  cxx/constellation/satellite/ReceiverSatellite.cpp
  cxx/constellation/satellite/TransmitterSatellite.cpp
  docs/satellites/_metrics_cxx_ReceiverSatellite.md
  docs/satellites/_metrics_cxx_TransmitterSatellite.md
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: update data transmission benchmarks
  docs/.spelling_names.txt
  docs/application_development/functionality/data_transmission.md
  docs/application_development/howtos/Frame_Size_vs_Data_Rate.svg
  docs/application_development/howtos/bench_frame_size_vs_data_rate.png
  docs/application_development/howtos/bench_number_of_frames_vs_data_rate.png
  docs/application_development/howtos/data_transmission_speed.md
  docs/protocols/index.rst
  docs/protocols/retired/index.rst
Due: none

cxx/sat: do not add run_id to substitute EOR
  cxx/constellation/satellite/ReceiverSatellite.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

PyRandomTransmitter: add new satellite for testing CDTP performance
  pyproject.toml
  python/constellation/satellites/PyRandomTransmitter/PyRandomTransmitter.py
  python/constellation/satellites/PyRandomTransmitter/README.md
  python/constellation/satellites/PyRandomTransmitter/__main__.py
  python/constellation/satellites/PyRandomTransmitter/meson.build
  python/constellation/satellites/meson.build
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python: implement CDTP2 sending
  pyproject.toml
  python/constellation/core/cdtp.py
  python/constellation/core/datasender.py
  python/constellation/core/transmitter_satellite.py
  python/constellation/meson.build
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/sat/recv: fix incorrect run degraded check in EOR handling
  cxx/constellation/satellite/ReceiverSatellite.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

python: implement CDTP2 message class
  python/constellation/core/message/cdtp2.py
  python/constellation/core/message/multipart.py
  python/constellation/core/protocol.py
  python/constellation/meson.build
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

LeCroy: update to new data transmission API
  python/constellation/satellites/LeCroy/LeCroySatellite.py
  python/constellation/satellites/LeCroy/__main__.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python: implement CDTP2 receiving
  python/constellation/core/cdtp.py
  python/constellation/core/datareceiver.py
  python/constellation/core/receiver_satellite.py
  python/constellation/meson.build
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python/receiver: expose configured data transmitters
  python/constellation/core/cdtp.py
  python/constellation/core/receiver_satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

PyDevNullReceiver: add new satellite for testing CDTP performance
  pyproject.toml
  python/constellation/satellites/PyDevNullReceiver/PyDevNullReceiver.py
  python/constellation/satellites/PyDevNullReceiver/README.md
  python/constellation/satellites/PyDevNullReceiver/__main__.py
  python/constellation/satellites/PyDevNullReceiver/meson.build
  python/constellation/satellites/meson.build
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

H5DataWriter: update to new data transmission API
  pyproject.toml
  python/constellation/meson.build
  python/constellation/satellites/H5DataWriter/H5DataWriter.py
  python/constellation/satellites/H5DataWriter/README.md
  python/constellation/tools/H5datareader.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/cdtp: poller needs to be protected by a lock
  python/constellation/core/cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python: implement run metadata
  python/constellation/core/cdtp.py
  python/constellation/core/transmitter_satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

H5DataWriter: store datetime objects as strings
  python/constellation/satellites/H5DataWriter/H5DataWriter.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python: properly handling data sending timeouts
  python/constellation/core/cdtp.py
  python/constellation/core/transmitter_satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs: add python docs for CDTP2
  .codespellrc
  docs/application_development/functionality/data_transmission.md
  docs/framework_reference/python/core/core.datareceiver.rst
  docs/framework_reference/python/core/core.datasender.rst
  docs/framework_reference/python/core/core.message.cdtp2.rst
  docs/framework_reference/python/core/core.message.rst
  docs/framework_reference/python/core/core.receiver_satellite.rst
  docs/framework_reference/python/core/core.rst
  docs/framework_reference/python/core/core.transmitter_satellite.rst
  docs/satellites/_metrics_py_DataReceiver.md
  docs/satellites/_metrics_py_ReceiverSatellite.md
  docs/satellites/_metrics_py_TransmitterSatellite.md
  docs/satellites/_parameters_py_DataReceiver.md
  docs/satellites/_parameters_py_ReceiverSatellite.md
  docs/satellites/_parameters_py_TransmitterSatellite.md
  python/constellation/core/cdtp.py
  python/constellation/core/message/cdtp2.py
  python/constellation/core/message/cscp1.py
  python/constellation/core/receiver_satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/test: update tests for CDTP2
  python/tests/conftest.py
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/chp: fix not decoding object
  python/constellation/core/chp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/core/hb: add reason to mark_degraded
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
  cxx/constellation/core/heartbeat/HeartbeatManager.hpp
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/constellation/satellite/BaseSatellite.hpp
  cxx/tests/test_core_chp_manager.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

py: implement marking runs as degraded
  python/constellation/core/heartbeatchecker.py
  python/constellation/core/satellite.py
  python/constellation/core/transmitter_satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/hb: fix heartbeat typo
  python/constellation/core/controller.py
  python/constellation/core/heartbeatchecker.py
  python/constellation/core/satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/sat: remove TRANSMITTED_MESSAGES metric
  cxx/constellation/satellite/TransmitterSatellite.cpp
  cxx/constellation/satellite/TransmitterSatellite.hpp
  docs/satellites/_metrics_cxx_ReceiverSatellite.md
  docs/satellites/_metrics_cxx_TransmitterSatellite.md
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

py/cdtp: add metrics
  docs/satellites/_metrics_py_ReceiverSatellite.md
  docs/satellites/_metrics_py_TransmitterSatellite.md
  python/constellation/core/cdtp.py
  python/constellation/core/receiver_satellite.py
  python/constellation/core/transmitter_satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

RandomTransmitter: replace RATE_LIMITED metric with better DUTY_CYCLE metric
  cxx/satellites/RandomTransmitter/README.md
  cxx/satellites/RandomTransmitter/RandomTransmitterSatellite.cpp
  cxx/satellites/RandomTransmitter/RandomTransmitterSatellite.hpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CDTP2: shorten data metrics
  cxx/constellation/satellite/ReceiverSatellite.cpp
  cxx/constellation/satellite/TransmitterSatellite.cpp
  docs/satellites/_metrics_cxx_ReceiverSatellite.md
  docs/satellites/_metrics_cxx_TransmitterSatellite.md
  docs/satellites/_metrics_py_ReceiverSatellite.md
  docs/satellites/_metrics_py_TransmitterSatellite.md
  python/constellation/core/receiver_satellite.py
  python/constellation/core/transmitter_satellite.py
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: some wording fixes
  cxx/satellites/EudaqNativeWriter/README.md
  docs/framework_reference/cxx/satellite/satellite.md
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

meson: improve libzmq dependency override
  cxx/meson.build
  subprojects/libzmq.wrap
  subprojects/packagefiles/libzmq/meson.build
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

meson: update wraps
  subprojects/atomic_queue.wrap
  subprojects/catch2.wrap
  subprojects/cppzmq.wrap
  subprojects/spdlog.wrap
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CDTP: rename checkDataRateLimited to canSendRecord
  cxx/constellation/satellite/TransmitterSatellite.hpp
  cxx/satellites/RandomTransmitter/RandomTransmitterSatellite.cpp
  cxx/tests/test_satellite_data.cpp
  docs/application_development/functionality/data_transmission.md
  python/constellation/core/cdtp.py
  python/constellation/core/transmitter_satellite.py
  python/constellation/satellites/PyRandomTransmitter/PyRandomTransmitter.py
  python/tests/test_cdtp.py
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

minor CDTP2 fixes
  cxx/constellation/satellite/TransmitterSatellite.cpp
  docs/application_development/functionality/data_transmission.md
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: fix header inclusion
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.cpp
  cxx/tests/test_satellite_data.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/dialog: fix wording
  cxx/constellation/gui/QResponseDialog.ui
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Add missing contributor
  AUTHORS.md
Due: none

cxx/satellite/eudaq: better compatibility: set EUDAQ_CONFIG tag and merge dicts
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.cpp
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
  cxx/satellites/EudaqNativeWriter/FileSerializer.hpp
  cxx/satellites/EudaqNativeWriter/README.md
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/sat/eudaq: case-insensitive checks
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
  cxx/satellites/EudaqNativeWriter/FileSerializer.hpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

H5DataWriter: fix typos in readme
  python/constellation/satellites/H5DataWriter/README.md
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/sat: fix header inclusion
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

meson: override dependencies when using as subproject
  cxx/constellation/controller/meson.build
  cxx/constellation/core/meson.build
  cxx/constellation/exec/meson.build
  cxx/constellation/gui/meson.build
  cxx/constellation/listener/meson.build
  cxx/constellation/satellite/meson.build
Due: build:alma9-gcc14, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff
