Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

build:alma9-cern:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:debian-clang:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:debian-gcc:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:fedora-latest:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:ubuntu-22.04:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:ubuntu-24.04:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:python-3.11:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install meson-python meson ninja
  image: python:3.11

build:python-3.12:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install meson-python meson ninja
  image: python:3.12

python/core/cfg: change type of exception
  python/constellation/core/configuration.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/cfg: emit ConfigError
  python/constellation/core/configuration.py
  python/constellation/core/satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/satellites/mariner: extend example
  python/constellation/satellites/mariner/mariner.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/satellites/mariner: add tests
  python/tests/test_example.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/datareceiver: payload type support
  python/constellation/core/datareceiver.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/satellite: init run_id
  python/constellation/core/satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/tests: add test for run_id cmd
  python/tests/test_satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/commandmngr: check for None response
  python/constellation/core/commandmanager.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

cxx/core/config: improve InvalidValueException
  cxx/constellation/core/config/Configuration.ipp
  cxx/constellation/core/config/exceptions.cpp
  cxx/constellation/core/config/exceptions.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

python/satellites: move HDF5DataWriter into satellites folder
  pyproject.toml
  python/constellation/core/datareceiver.py
  python/constellation/satellites/hdf5datawriter/__main__.py
  python/constellation/satellites/hdf5datawriter/hdf5datawriter.py
  python/constellation/satellites/hdf5datawriter/meson.build
  python/constellation/satellites/meson.build
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python: adjust tests
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/HDF5: add (very brief) README
  python/constellation/satellites/hdf5datawriter/README.md
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

implemented waveform acquisition
  python/constellation/satellites/clabdaq2/rpgamma.py
  python/constellation/satellites/clabdaq2/rpsatellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

py/core: fix mypy warnings
  python/constellation/core/commandmanager.py
  python/constellation/core/error.py
  python/constellation/core/fsm.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

cxx/sat/fsm: only log transition of it has been found
  cxx/constellation/satellite/FSM.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/heartbeats: take immediate action on ERROR states, no need to wait
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/satellite: extend FSM to also have requestStop to end a run
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/FSM.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/heartbeats: also detect run-stop and react if set
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
  cxx/constellation/core/heartbeat/HeartbeatManager.hpp
  cxx/constellation/satellite/BaseSatellite.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/utils: allow fetching timeout from timer
  cxx/constellation/core/utils/timers.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

py: fix mariner reference, drop demo
  pyproject.toml
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

py/mariner: fix README
  python/constellation/satellites/mariner/README.md
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python: fix some typos
  python/constellation/core/heartbeatchecker.py
  python/tests/test_broadcastmanager.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

CI: remove job timeouts
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/satellite: return number of commands
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/tests/test_satellite_base.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/satellite: add trySend to Transmitter
  cxx/constellation/satellite/TransmitterSatellite.cpp
  cxx/constellation/satellite/TransmitterSatellite.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Require Minimum Meson Version 0.63.0
  meson.build
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/tests: add test fir timeout of data message sending
  cxx/constellation/satellite/TransmitterSatellite.cpp
  cxx/tests/test_satellite_data.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/satellite: renaming of parameters for more consistency
  cxx/constellation/satellite/ReceiverSatellite.cpp
  cxx/constellation/satellite/ReceiverSatellite.hpp
  cxx/constellation/satellite/TransmitterSatellite.cpp
  cxx/constellation/satellite/TransmitterSatellite.hpp
  cxx/tests/test_satellite_data.cpp
  docs/reference/cxx/satellite/satellite.md
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/satellite: export all exceptions
  cxx/constellation/satellite/exceptions.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Apply 2 suggestion(s) to 1 file(s)
  cxx/constellation/satellite/TransmitterSatellite.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/controller: add first version of config parser
  cxx/constellation/controller/ConfigParser.cpp
  cxx/constellation/controller/ConfigParser.hpp
  cxx/constellation/controller/meson.build
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/controller: add TOML++ dependency and wrap
  subprojects/.gitignore
  subprojects/tomlplusplus.wrap
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/controller: avoid exposing toml include in ConfigParser header
  cxx/constellation/controller/ConfigParser.cpp
  cxx/constellation/controller/ConfigParser.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/controller? document ConfigParser, initialize some variables
  cxx/constellation/controller/ConfigParser.cpp
  cxx/constellation/controller/ConfigParser.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/controller: ConfigParser to accept TOML string
  cxx/constellation/controller/ConfigParser.cpp
  cxx/constellation/controller/ConfigParser.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/controller: add file fstream constructor to config parser
  cxx/constellation/controller/ConfigParser.cpp
  cxx/constellation/controller/ConfigParser.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/controller: change ConfigParser to not cache dicts
  cxx/constellation/controller/ConfigParser.cpp
  cxx/constellation/controller/ConfigParser.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/controller: add back possibility to parse cfg from file
  cxx/constellation/controller/ConfigParser.cpp
  cxx/constellation/controller/ConfigParser.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/controller/cfgparser: rename logger
  cxx/constellation/controller/ConfigParser.cpp
  cxx/constellation/controller/ConfigParser.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/controller: separate file reading methods in configparser
  cxx/constellation/controller/ConfigParser.cpp
  cxx/constellation/controller/ConfigParser.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Path conditions:
  build:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
