Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

build:alma9-cern:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:debian-clang:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:debian-gcc:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:fedora-latest:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:ubuntu-22.04:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:ubuntu-24.04:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:python-3.11:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install meson-python meson ninja
  image: python:3.11

build:python-3.12:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install meson-python meson ninja
  image: python:3.12

docs: move sphinx back to main repo
  docs/.gitignore
  docs/Makefile
  docs/_static/css/custom.css
  docs/conf.py
  docs/index.md.in
  docs/manual/concepts/constellation.md
  docs/manual/concepts/satellite.md
  docs/manual/concepts/statistics.md
  docs/manual/howtos/port_eudaq.md
  docs/manual/howtos/satellite_cxx.md
  docs/manual/howtos/satellite_py.md
  docs/manual/index.md
  docs/reference/cxx/core/chirp.md
  docs/reference/cxx/core/index.rst
  docs/reference/index.md
  pyproject.toml
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

CI: build html documentation
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

docs: use markdown anchors
  docs/manual/concepts/satellite.md
  docs/reference/cxx/core/chirp.md
  docs/reference/protocols.md
Due: none

CI: move fedora-sphinx template
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: add news to gitignore
  docs/.gitignore
Due: none

meson: use libzmq fallback if draft API not available
  cxx/meson.build
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

meson: remove unneccessary include in satellites
  cxx/satellites/prototype/meson.build
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

meson: also override cppzmq dependency if draft API required
  cxx/meson.build
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Minor changes in name and logging period
  python/constellation/satellites/rpgamma.py
  python/constellation/satellites/rpneutron.py
  python/constellation/satellites/rpsatellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

Changed how BOR and EOR is handled when getting the list of datasets
  python/constellation/core/H5datareader.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

CI: add SAST Jobs
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/logging: make log function const
  cxx/constellation/core/logging/Logger.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/tests: test logging from const member functions
  cxx/tests/test_core_logging.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: fix clang tidy
  cxx/tools/cmdp_log_send.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs/website: add favicon
  README.md
  docs/conf.py
  docs/logo/logo.png
  docs/logo/logo.svg
  docs/logo/logo_small.png
Due: none

docs/website: revamp landing page, more content to come
  docs/_static/css/custom.css
  docs/_static/undraw_code_typing_re_p8b9.svg
  docs/conf.py
  docs/index.md.in
Due: none

docs/website: link libraries
  docs/index.md.in
Due: none

dpcs/website: add more key features
  docs/_static/undraw_knowledge_re_5v9l.svg
  docs/_static/undraw_online_connection_6778.svg
  docs/_static/undraw_set_preferences_kwia.svg
  docs/index.md.in
Due: none

docs/manual: update documentation to latests state of the code
  docs/manual/concepts/autonomy.md
  docs/manual/concepts/satellite.md
  docs/manual/howtos/port_eudaq.md
  docs/manual/howtos/satellite_cxx.md
  docs/manual/index.md
  docs/reference/satellite.md
Due: none

docs: fix running state UML
  docs/manual/concepts/satellite.md
Due: none

CI: explicitly set GCC12 on Ubuntu 22.04
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: switch to debugoptimized for GCC12
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

C++: Adjust Satellite Interface Names
  cxx/constellation/satellite/Satellite.cpp
  cxx/constellation/satellite/Satellite.hpp
  cxx/satellites/prototype/prototype.cpp
  cxx/satellites/prototype/prototype.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs/tutorials: start & control single satellite
  docs/manual/index.md
Due: none

CI: build with libc++ on fedora-clang
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: add system lib dependencies
  cxx/constellation/core/meson.build
  cxx/constellation/exec/meson.build
  cxx/meson.build
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: add first empty tutorial
  docs/manual/tutorials/single_satellite.md
Due: none

docs/website: add FOSS as key feature
  docs/_static/undraw_open_source_-1-qxw.svg
  docs/index.md.in
Due: none

cxx: fix some missing headers
  cxx/constellation/core/chirp/Manager.cpp
  cxx/constellation/core/chirp/Manager.hpp
  cxx/constellation/core/logging/Logger.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/tools: nicer arg splitting in chirp manager
  cxx/tools/chirp_manager.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/fsm: also log error on wildcard catch
  cxx/constellation/satellite/FSM.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: improve utils::to_string functions
  cxx/constellation/core/utils/casts.hpp
  cxx/constellation/core/utils/string.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: add helper header for std::chrono
  cxx/constellation/core/meson.build
  cxx/constellation/core/message/BaseHeader.cpp
  cxx/constellation/core/utils/chrono.hpp
  cxx/constellation/core/utils/std23.hpp
  cxx/constellation/core/utils/string.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: move to improve to_string function
  cxx/constellation/core/chirp/Manager.cpp
  cxx/constellation/core/config/Configuration.tpp
  cxx/constellation/core/config/Dictionary.cpp
  cxx/constellation/core/logging/CMDPSink.cpp
  cxx/constellation/core/logging/SinkManager.cpp
  cxx/constellation/core/message/BaseHeader.cpp
  cxx/constellation/core/message/CDTP1Message.cpp
  cxx/constellation/core/message/CHIRPMessage.cpp
  cxx/constellation/core/message/Protocol.hpp
  cxx/constellation/satellite/CommandRegistry.cpp
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/Satellite.cpp
  cxx/constellation/satellite/exceptions.hpp
  cxx/tests/test_core_chirp_message.cpp
  cxx/tests/test_core_message.cpp
  cxx/tests/test_satellite_implementation.cpp
  cxx/tools/dummy_controller.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: move Value::str() to to_string functions
  cxx/constellation/core/config/Value.cpp
  cxx/constellation/core/utils/string.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: add link to DESY GitLab on homepage
  docs/index.md.in
Due: none

hack: disable clock_cast
  cxx/constellation/core/utils/chrono.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

hack: enable experimental libary
  cxx/meson.build
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

meson: update asio
  subprojects/asio.wrap
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Path conditions:
  build:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
