Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Path conditions:
  build:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile

controller: make satellites a dictionary
  python/constellation/core/controller.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

controller: make constellation a property
  python/constellation/core/controller.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

controller: add heartbeat checker
  python/constellation/core/controller.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

hearbeatchecker: refactorize
  python/constellation/core/heartbeatchecker.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

skip attributes looking for marked methods
  python/constellation/core/broadcastmanager.py
  python/constellation/core/commandmanager.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

satellite: fix `failure` command sending payload
  python/constellation/core/satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

hbc: start->start_all
  python/constellation/core/satellite.py
  python/tests/test_heartbeat.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

hbc: add missing argument
  python/constellation/core/heartbeatchecker.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

tests: add test for state in controller
  python/tests/test_controller.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

tests: fix hbc
  python/tests/test_heartbeat.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/base: store interface attribute
  python/constellation/core/base.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/datasender: use interface arg
  python/constellation/core/datasender.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/satellite: fix timeout in failure
  python/constellation/core/satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/datareceiver: remove `_wrap_stop`
  python/constellation/core/datareceiver.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/tests: add doc strings
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/satellite: remove timeout on stop
  python/constellation/core/satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/cfg: fix typing issues
  python/constellation/core/configuration.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core: fix mypy flagged issues on typed fcns
  python/constellation/core/base.py
  python/constellation/core/broadcastmanager.py
  python/constellation/core/cdtp.py
  python/constellation/core/chirp.py
  python/constellation/core/chp.py
  python/constellation/core/cmdp.py
  python/constellation/core/commandmanager.py
  python/constellation/core/controller.py
  python/constellation/core/cscp.py
  python/constellation/core/datareceiver.py
  python/constellation/core/datasender.py
  python/constellation/core/error.py
  python/constellation/core/fsm.py
  python/constellation/core/heartbeatchecker.py
  python/constellation/core/heartbeater.py
  python/constellation/core/monitoring.py
  python/constellation/core/network.py
  python/constellation/core/protocol.py
  python/constellation/core/satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core: fixes for typing+tests
  python/constellation/core/cdtp.py
  python/constellation/core/cmdp.py
  python/constellation/core/monitoring.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/satellite: remove timeout in interrupt
  python/constellation/core/satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

cxx/logging: only start sending CMDP messages once a name is set
  cxx/constellation/core/logging/CMDPSink.cpp
  cxx/constellation/core/logging/CMDPSink.hpp
  cxx/constellation/core/logging/SinkManager.cpp
  cxx/constellation/core/logging/SinkManager.hpp
  cxx/constellation/core/message/BaseHeader.hpp
  cxx/constellation/core/message/CMDP1Message.hpp
  cxx/tests/test_core_logging.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/logging: add proper CMDP backtracing for early messages
  cxx/constellation/core/logging/SinkManager.cpp
  cxx/constellation/core/logging/SinkManager.hpp
  cxx/constellation/exec/satellite.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/logging: copy CMDP console logger to CMDPSink
  cxx/constellation/core/logging/CMDPSink.cpp
  cxx/constellation/core/logging/CMDPSink.hpp
  cxx/constellation/core/logging/SinkManager.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Python: fix FSM state enumerator values
  python/constellation/core/fsm.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

add mypy to pre-commit and configure it
  .pre-commit-config.yaml
  pyproject.toml
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core: various type fixes
  .pre-commit-config.yaml
  python/constellation/core/base.py
  python/constellation/core/broadcastmanager.py
  python/constellation/core/cdtp.py
  python/constellation/core/chirp.py
  python/constellation/core/chp.py
  python/constellation/core/cmdp.py
  python/constellation/core/commandmanager.py
  python/constellation/core/configuration.py
  python/constellation/core/controller.py
  python/constellation/core/cscp.py
  python/constellation/core/datareceiver.py
  python/constellation/core/datasender.py
  python/constellation/core/error.py
  python/constellation/core/fsm.py
  python/constellation/core/heartbeatchecker.py
  python/constellation/core/heartbeater.py
  python/constellation/core/monitoring.py
  python/constellation/core/network.py
  python/constellation/core/protocol.py
  python/constellation/core/satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python: various minor fixes
  .pre-commit-config.yaml
  python/constellation/meson.build
  python/constellation/satellites/example_satellite.py
  python/constellation/tools/H5datareader.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

add mypy to gitlab ci
  .gitlab-ci.yml
  pyproject.toml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

improve mypy ci cfg
  .gitlab-ci.yml
  pyproject.toml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

ci: fix cfg
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

python/core/cmdp: replace typechecking asserts
  python/constellation/core/cmdp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

cxx/exec: load DSOs case-insensitive
  cxx/constellation/exec/DSOLoader.cpp
  cxx/constellation/exec/DSOLoader.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/exec: remove TODO, satellite class checks for validity
  cxx/constellation/exec/satellite.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/exec: constness where constness belongs
  cxx/constellation/exec/DSOLoader.cpp
  cxx/constellation/exec/DSOLoader.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/exec: use properly capitalized type for canonical name
  cxx/constellation/exec/DSOLoader.hpp
  cxx/constellation/exec/satellite.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/tests: add some DSOLoader tests
  cxx/tests/meson.build
  cxx/tests/test_exec_dsoloader.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/exec: Fix access of empty path
  cxx/constellation/exec/DSOLoader.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/tests: attempt loading a wrong library
  cxx/tests/test_exec_dsoloader.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/exec: load hints either as single file or as directory
  cxx/constellation/exec/DSOLoader.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: define DSO prefix
  cxx/constellation/build.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff
