Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

build:alma9-cern:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:debian-clang:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:debian-gcc:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:fedora-latest:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:ubuntu-22.04:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:ubuntu-24.04:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    - subprojects/argparse-*/
    - subprojects/asio-*/
    - subprojects/Catch2-*/
    - subprojects/cppzmq-*/
    - subprojects/libzmq-*/
    - subprojects/magic_enum-*/
    - subprojects/msgpack-cxx-*/
    - subprojects/spdlog-*/
  ...

build:python-3.11:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install meson-python meson ninja
  image: python:3.11

build:python-3.12:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install meson-python meson ninja
  image: python:3.12

python: rename H5DataWriter
  pyproject.toml
  python/constellation/satellites/H5DataWriter/H5DataWriter.py
  python/constellation/satellites/H5DataWriter/README.md
  python/constellation/satellites/H5DataWriter/__main__.py
  python/constellation/satellites/H5DataWriter/meson.build
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python: adjust meson files
  pyproject.toml
  python/constellation/satellites/CaenHV/meson.build
  python/constellation/satellites/H5DataWriter/README.md
  python/constellation/satellites/H5DataWriter/meson.build
  python/constellation/satellites/Keithley/meson.build
  python/constellation/satellites/Mariner/meson.build
  python/constellation/satellites/meson.build
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python: add shorthand forms of group and name cli arguments
  python/constellation/core/base.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python: make name and group mandatory arguments
  python/constellation/core/base.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python: remove default names of satellites
  python/constellation/satellites/caenhv/caenhv.py
  python/constellation/satellites/hdf5datawriter/hdf5datawriter.py
  python/constellation/satellites/keithley/keithley.py
  python/constellation/satellites/mariner/mariner.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python: fix tests
  python/tests/test_cdtp.py
  python/tests/test_example.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

CI: Add Spellchecking for Markdown
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Some cleaning of code
  python/constellation/satellites/clabdaq2/lib_mikroe_rtd.py
  python/constellation/satellites/clabdaq2/rpgamma.py
  python/constellation/satellites/clabdaq2/rpneutron.py
  python/constellation/satellites/clabdaq2/rpsatellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

renamed folder
  pyproject.toml
  python/constellation/satellites/RpDaq/README.md
  python/constellation/satellites/RpDaq/lib_mikroe_expand11.py
  python/constellation/satellites/RpDaq/lib_mikroe_rtd.py
  python/constellation/satellites/RpDaq/meson.build
  python/constellation/satellites/RpDaq/rpgamma.py
  python/constellation/satellites/RpDaq/rpneutron.py
  python/constellation/satellites/RpDaq/rpsatellite.py
  python/constellation/satellites/meson.build
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

Upgraded to PyQt6
  python/constellation/controller/minimalist_gui_controller.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

hdf5datawriter: prefix data sets with 0s
  python/constellation/satellites/H5DataWriter/H5DataWriter.py
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

cxx/core/log: instrument the CMDPSink with logging so we see what's going on
  cxx/constellation/core/log/CMDPSink.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/pools: fix format - no idea what happened here
  cxx/constellation/core/pools/SubscriberPool.ipp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/pools: make initial topics a callback - might change over time
  cxx/constellation/core/heartbeat/HeartbeatRecv.hpp
  cxx/constellation/core/pools/SubscriberPool.hpp
  cxx/constellation/core/pools/SubscriberPool.ipp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/pools: make subscription working - need write access to sockets!
  cxx/constellation/core/pools/BasePool.hpp
  cxx/constellation/core/pools/SubscriberPool.hpp
  cxx/constellation/core/pools/SubscriberPool.ipp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/pools: opt for simpler method rather than callback for default topics
  cxx/constellation/core/heartbeat/HeartbeatRecv.hpp
  cxx/constellation/core/pools/SubscriberPool.hpp
  cxx/constellation/core/pools/SubscriberPool.ipp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/pools: allow retrieveing number of connected sockets, mark override fct as final
  cxx/constellation/core/pools/BasePool.hpp
  cxx/constellation/core/pools/BasePool.ipp
  cxx/constellation/core/pools/SubscriberPool.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/log: no need to check for logger existence
  cxx/constellation/core/log/CMDPSink.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

final and override are redundant...?
  cxx/constellation/core/pools/SubscriberPool.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: select OpenStack runners
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/pools: BasePool can keep total number of sockets instead of atomic flag
  cxx/constellation/core/pools/BasePool.hpp
  cxx/constellation/core/pools/BasePool.ipp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Bug fix
  python/constellation/controller/minimalist_gui_controller.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

added configuration parameter for monitor poll interval
  python/constellation/satellites/CaenHV/CaenHV.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

cxx/satellites: add FlightRecorder
  cxx/satellites/FlightRecorder/FlightRecorderSatellite.cpp
  cxx/satellites/FlightRecorder/FlightRecorderSatellite.hpp
  cxx/satellites/FlightRecorder/README.md
  cxx/satellites/FlightRecorder/meson.build
  cxx/satellites/meson.build
  meson_options.txt
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

frst attempt at eCT stage satellite
  pyproject.toml
  python/constellation/satellites/eCTstage/README.md
  python/constellation/satellites/eCTstage/__main__.py
  python/constellation/satellites/eCTstage/eCTstage.py
  python/constellation/satellites/eCTstage/eCTstage_simple.py
  python/constellation/satellites/eCTstage/meson.build
  python/constellation/satellites/eCTstage/stage_config.conf
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

first commit
  python/constellation/satellites/ectstage/README.md
  python/constellation/satellites/ectstage/__main__.py
  python/constellation/satellites/ectstage/eCTstage_simple.py
  python/constellation/satellites/ectstage/ectstage.py
  python/constellation/satellites/ectstage/meson.build
  python/constellation/satellites/ectstage/stage_config.toml
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

added ectstage
  pyproject.toml
  python/constellation/satellites/eCTstage/README.md
  python/constellation/satellites/eCTstage/__main__.py
  python/constellation/satellites/eCTstage/eCTstage.py
  python/constellation/satellites/eCTstage/eCTstage_simple.py
  python/constellation/satellites/eCTstage/meson.build
  python/constellation/satellites/eCTstage/stage_config.conf
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

added ectstage
  python/constellation/satellites/meson.build
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

Updated readme file
  python/constellation/satellites/ectstage/README.md
  python/constellation/satellites/ectstage/ectstage.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

Path conditions:
  build:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
