Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Path conditions:
  build:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile

python: only set SO_REUSEPORT on BSD
  python/constellation/core/chirp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

cxx/log: return existing logger if topic already exists
  cxx/constellation/core/logging/SinkManager.cpp
  cxx/constellation/core/logging/SinkManager.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: add console logger
  cxx/tools/console_logger.cpp
  cxx/tools/meson.build
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/log: allow overwriting console levels for specific topics
  cxx/constellation/core/logging/CMDPSink.cpp
  cxx/constellation/core/logging/CMDPSink.hpp
  cxx/constellation/core/logging/Logger.cpp
  cxx/constellation/core/logging/Logger.hpp
  cxx/constellation/core/logging/SinkManager.cpp
  cxx/constellation/core/logging/SinkManager.hpp
  cxx/constellation/exec/satellite.cpp
  cxx/tests/test_core_logging.cpp
  cxx/tools/chirp_manager.cpp
  cxx/tools/chp_sender.cpp
  cxx/tools/dummy_controller.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/log: protect logger list and level variables in SinkManager with mutex
  cxx/constellation/core/logging/SinkManager.cpp
  cxx/constellation/core/logging/SinkManager.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/log: add getLogLevel function to Logger
  cxx/constellation/core/logging/Logger.hpp
  cxx/tests/test_core_logging.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/log: include Logger.hpp in log.hpp
  cxx/constellation/core/logging/log.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Updating the installation on MacOS
  docs/manual/install.md
Due: none

cxx/fsm: replace reactIfAllowed with react in transition functions
  cxx/constellation/satellite/FSM.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/fsm: protect reacting to transition with a lock
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/FSM.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/fsm: rename interrupt() to requestInterrupt()
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/FSM.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/fsm: protect state callbacks with mutex
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/FSM.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

python/core/chirp: pretty-print messages
  python/constellation/core/chirp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/networking: unique bc addresses
  python/constellation/core/chirp.py
  python/constellation/core/network.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/chirp: delay broadcast on multiple IFs
  python/constellation/core/chirp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/networking: fix binding interface
  python/constellation/core/chirp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/networking: improve readability
  python/constellation/core/chirp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

Improve rules for valid names
  cxx/constellation/core/message/satellite_definitions.hpp
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/constellation/satellite/FSM.cpp
  docs/reference/satellite.md
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: move protocol definitions to protocol namesapce
  cxx/constellation/core/meson.build
  cxx/constellation/core/protocol/CSCP_definitions.hpp
  cxx/constellation/core/protocol/Protocol.hpp
  cxx/constellation/satellite/fsm_definitions.hpp
  cxx/constellation/satellite/meson.build
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: update code base to new protocol namespace
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
  cxx/constellation/core/heartbeat/HeartbeatManager.hpp
  cxx/constellation/core/heartbeat/HeartbeatSend.cpp
  cxx/constellation/core/heartbeat/HeartbeatSend.hpp
  cxx/constellation/core/message/BaseHeader.cpp
  cxx/constellation/core/message/BaseHeader.hpp
  cxx/constellation/core/message/CDTP1Message.cpp
  cxx/constellation/core/message/CDTP1Message.hpp
  cxx/constellation/core/message/CHP1Message.cpp
  cxx/constellation/core/message/CHP1Message.hpp
  cxx/constellation/core/message/CMDP1Message.hpp
  cxx/constellation/core/message/CSCP1Message.hpp
  cxx/constellation/core/message/exceptions.hpp
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/constellation/satellite/BaseSatellite.hpp
  cxx/constellation/satellite/CommandRegistry.cpp
  cxx/constellation/satellite/CommandRegistry.hpp
  cxx/constellation/satellite/CommandRegistry.ipp
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/FSM.hpp
  cxx/constellation/satellite/Satellite.cpp
  cxx/constellation/satellite/Satellite.hpp
  cxx/constellation/satellite/exceptions.hpp
  cxx/tests/dummy_satellite.hpp
  cxx/tests/test_satellite_fsm.cpp
  cxx/tools/chp_sender.cpp
  cxx/tools/dummy_controller.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: move core/logging folder to core/log
  cxx/constellation/core/chirp/Manager.cpp
  cxx/constellation/core/chirp/Manager.hpp
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
  cxx/constellation/core/heartbeat/HeartbeatManager.hpp
  cxx/constellation/core/log/CMDPSink.cpp
  cxx/constellation/core/log/CMDPSink.hpp
  cxx/constellation/core/log/Level.hpp
  cxx/constellation/core/log/Logger.cpp
  cxx/constellation/core/log/Logger.hpp
  cxx/constellation/core/log/ProxySink.hpp
  cxx/constellation/core/log/SinkManager.cpp
  cxx/constellation/core/log/SinkManager.hpp
  cxx/constellation/core/log/log.hpp
  cxx/constellation/core/meson.build
  cxx/constellation/core/message/CMDP1Message.cpp
  cxx/constellation/core/message/CMDP1Message.hpp
  cxx/constellation/core/subscriber/SubscriberPool.hpp
  cxx/constellation/core/subscriber/SubscriberPool.ipp
  cxx/constellation/exec/DSOLoader.cpp
  cxx/constellation/exec/DSOLoader.hpp
  cxx/constellation/exec/satellite.cpp
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/constellation/satellite/BaseSatellite.hpp
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/FSM.hpp
  cxx/constellation/satellite/Satellite.cpp
  cxx/satellites/Sputnik/SputnikSatellite.cpp
  cxx/tests/dummy_satellite.hpp
  cxx/tests/test_core_logging.cpp
  cxx/tests/test_core_message.cpp
  cxx/tools/chirp_manager.cpp
  cxx/tools/chp_receiver.cpp
  cxx/tools/chp_sender.cpp
  cxx/tools/dummy_controller.cpp
  docs/reference/cxx/core/log.md
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Allow upper-case protocol namespaces
  .clang-tidy
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: add protocol namesapce
  docs/reference/cxx/core/index.rst
  docs/reference/cxx/core/protocol.md
Due: none

unfortunately clang-tidy doesn't match full nested namespace names but only the name itself
  .clang-tidy
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: Temporarily deactivate Debian job due to upstream bug
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

clang-tidy to allow all protocol namespaces uppercase
  .clang-tidy
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/protocol: move CHP definitions to new namespace
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
  cxx/constellation/core/heartbeat/HeartbeatManager.hpp
  cxx/constellation/core/meson.build
  cxx/constellation/core/protocol/CHP_definitions.hpp
  docs/reference/cxx/core/protocol.md
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: only cache meson packagecache, not unpacked subprojects
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

clang-format: enable header sorting
  .clang-format
Due: none

clang-format: remove setting identical with LLVM style and sort alphabetically
  .clang-format
Due: none

pre-commit: fix clang-format to 16.0.6
  .pre-commit-config.yaml
Due: none

pre-commit: update
  .pre-commit-config.yaml
Due: none

meson: update magic_enum to 0.9.6
  subprojects/magic_enum.wrap
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: apply clang-format
  cxx/constellation/core/config/Dictionary.cpp
  cxx/constellation/core/log/Level.hpp
  cxx/constellation/core/utils/std_future.hpp
  cxx/constellation/core/utils/string.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core: move subscribers to pools folder
  cxx/constellation/core/heartbeat/HeartbeatRecv.hpp
  cxx/constellation/core/meson.build
  cxx/constellation/core/pools/SubscriberPool.hpp
  cxx/constellation/core/pools/SubscriberPool.ipp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/pools: add base pool
  cxx/constellation/core/meson.build
  cxx/constellation/core/pools/BasePool.hpp
  cxx/constellation/core/pools/BasePool.tpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/pools: use base pool for subscriber and expose actions for connect and disconnect
  cxx/constellation/core/pools/BasePool.hpp
  cxx/constellation/core/pools/BasePool.tpp
  cxx/constellation/core/pools/SubscriberPool.hpp
  cxx/constellation/core/pools/SubscriberPool.ipp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/pools: somehow still no formatting runs on the ipp files?
  cxx/constellation/core/pools/BasePool.hpp
  cxx/constellation/core/pools/BasePool.ipp
  cxx/constellation/core/pools/SubscriberPool.ipp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff
