Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

Path conditions:
  build:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:alma10: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-mingw: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:alma10: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:fedora-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  deploy:bundle-mingw-artifacts: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile

cxx/exec: add possibility to load Python satellites
  cxx/constellation/exec/DSOLoader.cpp
  cxx/constellation/exec/PyLoader.cpp
  cxx/constellation/exec/PyLoader.hpp
  cxx/constellation/exec/cli.cpp
  cxx/constellation/exec/cli.hpp
  cxx/constellation/exec/cpp.cpp
  cxx/constellation/exec/cpp.hpp
  cxx/constellation/exec/exceptions.hpp
  cxx/constellation/exec/meson.build
  cxx/constellation/exec/satellite.cpp
  cxx/constellation/exec/satellite.hpp
  cxx/constellation/exec/satellite_cpp.cpp
  cxx/constellation/exec/satellite_cpp.hpp
  cxx/constellation/exec/satellite_python.cpp
  cxx/constellation/exec/satellite_python.hpp
  cxx/controllers/MissionControl/main.cpp
  cxx/listeners/Observatory/main.cpp
  cxx/listeners/TelemetryConsole/main.cpp
  cxx/tests/test_exec_dsoloader.cpp
  meson.build
  meson_options.txt
  python/constellation/meson.build
  python/constellation/satellites/H5DataWriter/__init__.py
  python/constellation/satellites/H5DataWriter/meson.build
  python/constellation/satellites/Influx/__init__.py
  python/constellation/satellites/Influx/meson.build
  python/constellation/satellites/Keithley/__init__.py
  python/constellation/satellites/Keithley/meson.build
  python/constellation/satellites/LakeShore218/__init__.py
  python/constellation/satellites/LakeShore218/meson.build
  python/constellation/satellites/LeCroy/__init__.py
  python/constellation/satellites/LeCroy/meson.build
  python/constellation/satellites/Mariner/__init__.py
  python/constellation/satellites/Mariner/meson.build
  python/constellation/satellites/PyDevNullReceiver/__init__.py
  python/constellation/satellites/PyDevNullReceiver/meson.build
  python/constellation/satellites/PyRandomTransmitter/__init__.py
  python/constellation/satellites/PyRandomTransmitter/meson.build
  python/constellation/tools/__init__.py
  python/constellation/tools/discover_plugins.py
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

Add Flatpak manifest to repo
  flatpak/.gitignore
  flatpak/de.desy.constellation.yml
Due: none

Add Python satellites to Flatpak
  docs/framework_reference/flatpak.md
  docs/operator_guide/get_started/installation.md
  flatpak/de.desy.constellation.yml
Due: none

python: do not include C++ subprojects to sdist by default
  pyproject.toml
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/tests: add two functions from exec for coverage
  cxx/tests/test_exec_cli.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

Add Python satellites to Docker
  docs/operator_guide/get_started/installation.md
  etc/docker/constellation/Dockerfile
  etc/docker/constellation_ci/Dockerfile
Due: none

cxx/exec: add clang-tidy exceptions for Python includes
  cxx/constellation/exec/PyLoader.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

CI: explicitly disable Python implementation for debian-clang-libcxx and fedora-mingw
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/sat: return error when user command throws exception
  cxx/constellation/satellite/BaseSatellite.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

py/log: fix duplicate logging over CMDP
  python/constellation/core/monitoring.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/tests: fix cmdp logging tests
  python/tests/test_monitoring.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

LeCroy: fix table in README
  python/constellation/satellites/LeCroy/README.md
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python: move protocol to own submodule
  python/constellation/core/protocol/__init__.py
  python/constellation/meson.build
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/core/msg: improved message type casting
  python/constellation/core/message/cdtp2.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/tests: remove log handler again on teardown
  python/tests/test_monitoring.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/core/msg: add msgpack helper to pack single value
  python/constellation/core/message/msgpack_helpers.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/core/msg: add message class for CMDP1
  python/constellation/core/message/cmdp1.py
  python/constellation/core/protocol/cmdp1.py
  python/constellation/meson.build
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/core: add pools
  python/constellation/core/pools.py
  python/constellation/meson.build
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/core: rework CMDP transmission and listeners
  pyproject.toml
  python/constellation/core/cmdp.py
  python/constellation/core/listener.py
  python/constellation/core/logging.py
  python/constellation/core/message/cmdp1.py
  python/constellation/core/message/exceptions.py
  python/constellation/core/monitoring.py
  python/constellation/core/pools.py
  python/constellation/meson.build
  python/constellation/tools/monitor.py
  python/tests/test_monitoring.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/tests: adapt tests for new monitoring interface
  python/constellation/core/monitoring.py
  python/tests/__init__.py
  python/tests/conftest.py
  python/tests/test_cdtp.py
  python/tests/test_cmd_receiver.py
  python/tests/test_example.py
  python/tests/test_monitoring.py
  python/tests/test_satellite.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Influx: adapt to new listener API
  python/constellation/satellites/Influx/Influx.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/core/listener: remove LogPoolQueue
  python/constellation/core/listener.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs: document new monitoring API
  docs/application_development/functionality/metrics.md
  docs/framework_reference/python/core/core.listener.rst
  docs/framework_reference/python/core/core.rst
Due: none

LakeShore218: adapt to new monitoring API
  python/constellation/satellites/LakeShore218/LakeShore218.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Keithley: port to pyvisa
  pyproject.toml
  python/constellation/satellites/Keithley/Keithley.py
  python/constellation/satellites/Keithley/Keithley2410.py
  python/constellation/satellites/Keithley/KeithleyInterface.py
  python/constellation/satellites/Keithley/README.md
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Keithley: attempt to ramp down on failure
  python/constellation/satellites/Keithley/Keithley.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Keithley: send metrics in each step during ramp
  python/constellation/satellites/Keithley/Keithley.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py: stat run ID
  docs/satellites/_metrics_py_Satellite.md
  python/constellation/core/satellite.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py: stat data metrics every 5s, in starting and in stopping
  docs/satellites/_metrics_py_ReceiverSatellite.md
  docs/satellites/_metrics_py_TransmitterSatellite.md
  python/constellation/core/receiver_satellite.py
  python/constellation/core/transmitter_satellite.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/satellite: stat data metrics every 5s and in stopping
  cxx/constellation/satellite/ReceiverSatellite.cpp
  cxx/constellation/satellite/TransmitterSatellite.cpp
  docs/satellites/_metrics_cxx_ReceiverSatellite.md
  docs/satellites/_metrics_cxx_TransmitterSatellite.md
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

py/pools: make pool thread a daemon
  python/constellation/core/pools.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs: update how to gain access to DESY's GitLab instance
  docs/framework_reference/contributing.md
Due: none

satelite for data tranmission of KC705 based ETROC setup
  python/constellation/satellites/EtrocTransmitter/EtrocTransmitter.py
  python/constellation/satellites/EtrocTransmitter/__init__.py
  python/constellation/satellites/EtrocTransmitter/__main__.py
  python/constellation/satellites/EtrocTransmitter/cmd_interpret.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

receiver satelite to be tested
  python/constellation/satellites/EtrocReceiver/EtrocReceiver.py
  python/constellation/satellites/EtrocReceiver/__init__.py
  python/constellation/satellites/EtrocReceiver/__main__.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

add data rate calculator following the example
  python/constellation/satellites/EtrocReceiver/EtrocReceiver.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs: provide extended python scanning example with listener
  docs/operator_guide/howtos/scanning_python.md
Due: none

py: remove run_identifier from do_run
  docs/application_development/functionality/data_transmission.md
  docs/application_development/tutorials/satellite_py.md
  python/constellation/core/receiver_satellite.py
  python/constellation/core/satellite.py
  python/constellation/core/transmitter_satellite.py
  python/constellation/satellites/LeCroy/LeCroySatellite.py
  python/constellation/satellites/Mariner/Mariner.py
  python/constellation/satellites/PyRandomTransmitter/PyRandomTransmitter.py
  python/tests/test_cdtp.py
  python/tests/test_satellite.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py: move SatelliteState to protocol.cscp module
  docs/operator_guide/howtos/scanning_python.md
  python/constellation/core/controller.py
  python/constellation/core/fsm.py
  python/constellation/core/heartbeatchecker.py
  python/constellation/core/message/cscp1.py
  python/constellation/core/protocol/cscp1.py
  python/constellation/core/satellite.py
  python/constellation/meson.build
  python/constellation/satellites/Keithley/Keithley.py
  python/constellation/satellites/LeCroy/LeCroySatellite.py
  python/constellation/satellites/Mariner/Mariner.py
  python/tests/conftest.py
  python/tests/test_cdtp.py
  python/tests/test_controller.py
  python/tests/test_heartbeat.py
  python/tests/test_satellite.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs: add missing python API documentation
  docs/framework_reference/python/core/core.message.cmdp1.rst
  docs/framework_reference/python/core/core.message.rst
  docs/framework_reference/python/core/core.protocol.cmdp1.rst
  docs/framework_reference/python/core/core.protocol.cscp1.rst
  docs/framework_reference/python/core/core.protocol.rst
Due: none

add etroc satellites in pyproject toml for complie
  pyproject.toml
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp
