Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Path conditions:
  build:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-mingw: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile

EudaqNativeWriter: drop descriptor, taken from sender name
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.cpp
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.hpp
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

EudaqNativeWriter: use name only *after* the dot
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

EudaqNativeWriter: document code
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.hpp
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
  cxx/satellites/EudaqNativeWriter/README.md
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

EUDAQNativeWriter: move to boolean
  cxx/satellites/EudaqNativeWriter/meson.build
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

EudaqNativeWriter: change parameter name
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.cpp
  cxx/satellites/EudaqNativeWriter/README.md
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

EudaqNativeWriter: document functionality and add params
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.cpp
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.hpp
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
  cxx/satellites/EudaqNativeWriter/README.md
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

EudaqNativeWriter: set BORE and EORE tags
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

EudaqNativeWriter: flush in regular intervals, defaults to 3s
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.cpp
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.hpp
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
  cxx/satellites/EudaqNativeWriter/README.md
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/satellite: unregister state callback in `join()` to avoid data race
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/constellation/satellite/BaseSatellite.hpp
  cxx/tests/dummy_satellite.hpp
  cxx/tests/test_satellite_base.cpp
  cxx/tests/test_satellite_data.cpp
  cxx/tests/test_satellite_fsm.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/exec: unregister callbacks in main before destructors
  cxx/constellation/exec/satellite.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: add language to parser for satellite readmes
  docs/conf.py
Due: none

docs: parse header file to find class, append content to readme
  docs/copy_satellite_docs.py
Due: none

docs: only append when files are found
  docs/copy_satellite_docs.py
Due: none

docs: add empty stubs for parameter documentation
  .markdownlintrc
  docs/satellites/_cxx_ReceiverSatellite.md
  docs/satellites/_cxx_Satellite.md
  docs/satellites/_cxx_TransmitterSatellite.md
  docs/satellites/_py_DataReceiver.md
  docs/satellites/_py_Satellite.md
Due: none

CI: overwrite CXX for coverity scan to avoid ccache
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: mark markdownlint exception per-file
  .markdownlintrc
  docs/satellites/_cxx_ReceiverSatellite.md
  docs/satellites/_cxx_Satellite.md
  docs/satellites/_cxx_TransmitterSatellite.md
  docs/satellites/_py_DataReceiver.md
  docs/satellites/_py_Satellite.md
Due: none

docs: add h2 header for framework parameters
  docs/copy_satellite_docs.py
  docs/satellites/_parameter_header.md
Due: none

docs: suppress MyST warnings
  docs/conf.py
Due: none

docs: add parameters to satellites
  docs/satellites/_cxx_ReceiverSatellite.md
  docs/satellites/_cxx_Satellite.md
  docs/satellites/_cxx_TransmitterSatellite.md
Due: none

docs: add type annotations to python script
  docs/copy_satellite_docs.py
Due: none

Improvements in monitor handling
  python/constellation/satellites/RpDaq/rpneutron.py
  python/constellation/satellites/RpDaq/rpsatellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

CaenHV add reconfigure and fix NTD1490 parameters. H5Datareader minor fix
  python/constellation/satellites/CaenHV/CaenHV.py
  python/constellation/satellites/CaenHV/lib_caen_ndt1470.py
  python/constellation/tools/H5datareader.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs: use sphinx logger in python script
  docs/conf.py
  docs/copy_satellite_docs.py
Due: none

docs: fix typos and missing git ignore exceptions
  docs/conf.py
  docs/satellites/.gitignore
  docs/satellites/_py_DataReceiver.md
  docs/satellites/_py_Satellite.md
Due: none

docs: allow Python satellites to inherit from multiple classes
  docs/copy_satellite_docs.py
Due: none

docs: drop manual reference to framework parameters
  cxx/satellites/DevNullReceiver/README.md
  cxx/satellites/RandomTransmitter/README.md
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

EudaqNativeWriter: if we are failing, do not try to flush file - only when interrupting
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.cpp
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/tests: check has-config, check config
  cxx/tests/test_controller_config.cpp
  cxx/tests/test_core_config.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/tests: check host disposal in pool
  cxx/tests/test_core_pools.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/test: test CSCP protocol helpers
  cxx/tests/meson.build
  cxx/tests/test_core_protocol.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/tests: ingore linter
  cxx/tests/test_core_config.cpp
  cxx/tests/test_core_pools.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/heartbeats: allow configuring departure behavior
  cxx/constellation/core/heartbeat/HeartbeatManager.hpp
  cxx/constellation/satellite/BaseSatellite.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/heartbeat: fix includes
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
  cxx/constellation/core/heartbeat/HeartbeatManager.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/heartbeats: make Manager dervice from receiver
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
  cxx/constellation/core/heartbeat/HeartbeatManager.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/heartbeats: remove regularly when they depart
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
  cxx/constellation/core/heartbeat/HeartbeatManager.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/satellite: check for key allowing departure
  cxx/constellation/satellite/BaseSatellite.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: add _allow_departure key to cxx satellite docs
  docs/satellites/_cxx_Satellite.md
Due: none

python: adjust test to internal param naming scheme
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Python: adjust to _ scheme of internal parameters
  docs/satellites/_py_DataReceiver.md
  python/constellation/core/datareceiver.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Apply 1 suggestion(s) to 1 file(s)
  cxx/tests/test_core_config.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff
