Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

build:alma9-gcc14:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:alma10:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:debian-clang-libcxx:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:fedora-clang:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:fedora-gcc:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:fedora-mingw:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:ubuntu-22.04:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull-push
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:ubuntu-24.04:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:python-3.11:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools
  - pip install meson-python meson ninja
  ...

build:python-3.12:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools
  - pip install meson-python meson ninja
  ...

build:python-3.13:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools
  - pip install meson-python meson ninja
  ...

Add CHP role-gated checks, stale-heartbeat CHIRP forgetting, and per-satellite CMDP subscriptions
  python/constellation/core/async_experimental/async_basecontroller.py
  python/constellation/core/async_experimental/async_chirp.py
  python/constellation/core/async_experimental/async_cmdplistener.py
  python/constellation/core/async_experimental/async_heartbeat.py
  python/constellation/core/async_experimental/async_monitoringlistener.py
  python/constellation/core/async_experimental/async_pools.py
  python/constellation/meson.build
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

elif Comment Addressed
  python/constellation/core/async_experimental/async_chirp.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Handle CancelledError in AsyncSubscriberPool.run to survive concurrent socket removal
  python/constellation/core/async_experimental/async_pools.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Refactored async_experimental
  python/constellation/core/async_experimental/async_basecontroller.py
  python/constellation/core/async_experimental/async_chirp.py
  python/constellation/core/async_experimental/async_chirpmanager.py
  python/constellation/core/async_experimental/async_heartbeat.py
  python/constellation/core/async_experimental/async_heartbeatchecker.py
  python/constellation/core/async_experimental/async_monitoringlistener.py
  python/constellation/core/async_experimental/bridge.py
  python/constellation/core/base.py
  python/constellation/meson.build
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Add async CHIRP using DatagramProtocol, eliminating the dedicated discovery thread
  python/constellation/core/async_experimental/async_chirp.py
  python/constellation/core/async_experimental/bridge.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Added async task factory infrastructure to BaseSatelliteFrame
  python/constellation/core/base.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Added per-satellite CSCP locks, real command() results, payload preprocessing, cached get_commands to AsyncBaseController
  python/constellation/core/async_experimental/async_basecontroller.py
  python/constellation/core/async_experimental/async_chirp.py
  python/constellation/core/async_experimental/async_heartbeat.py
  python/constellation/core/async_experimental/async_monitoringlistener.py
  python/constellation/core/async_experimental/async_pools.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Add WebControl tutorial with error handling walkthrough
  docs/operator_guide/index.md
  docs/operator_guide/tutorials/webcontrol.md
Due: none

Refactor async components: pool backed heartbeat receiver, fix subscribe semantics and CSCP thread safety
  python/constellation/core/async_experimental/async_heartbeat.py
  python/constellation/core/async_experimental/async_pools.py
  python/constellation/core/async_experimental/bridge.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Hot loop fix, callback as member, DEPART handling, socket leak fix
  python/constellation/core/async_experimental/async_heartbeat.py
  python/constellation/core/async_experimental/async_pools.py
  python/constellation/core/async_experimental/bridge.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Add async heartbeat sender for CHP broadcasting
  python/constellation/core/async_experimental/async_heartbeatsender.py
  python/constellation/meson.build
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Added async components for WebBridgeController prototype
  python/constellation/core/async_experimental/__init__.py
  python/constellation/core/async_experimental/async_heartbeat.py
  python/constellation/core/async_experimental/async_pools.py
  python/constellation/core/async_experimental/bridge.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs: document new version command
  docs/framework_reference/satellite.md
  docs/operator_guide/concepts/satellite.md
Due: none

cxx/observatory: add log level reset button
  cxx/constellation/gui/QLogLevelComboBox.cpp
  cxx/constellation/gui/QLogLevelComboBox.hpp
  cxx/listeners/Observatory/QSenderSubscriptions.cpp
  cxx/listeners/Observatory/QSenderSubscriptions.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/listener/obs: introduce QSplitter ans two panes to allow resizing
  cxx/listeners/Observatory/Observatory.cpp
  cxx/listeners/Observatory/Observatory.hpp
  cxx/listeners/Observatory/Observatory.ui
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

Add async CSCP receiver and async satellite with meson registration
  python/constellation/core/async_experimental/async_cscp_receiver.py
  python/constellation/core/async_experimental/async_satellite.py
  python/constellation/meson.build
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/gui: allow eliding own label text
  cxx/constellation/gui/QCollapseButton.cpp
  cxx/constellation/gui/QCollapseButton.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/list/obs: change width of splitter after restoring values
  cxx/listeners/Observatory/Observatory.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/listen/obs: add resize logic to qsubscriptionlist scroll area
  cxx/listeners/Observatory/QSubscriptionList.cpp
  cxx/listeners/Observatory/QSubscriptionList.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/listen/obs: improve reset button behavior
  cxx/listeners/Observatory/QSenderSubscriptions.cpp
  cxx/listeners/Observatory/QSenderSubscriptions.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/obs: hide reset button instead of disabling, retain size when hidden
  cxx/listeners/Observatory/QSenderSubscriptions.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

fix linting
  cxx/constellation/gui/QCollapseButton.cpp
  cxx/listeners/Observatory/QSenderSubscriptions.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

Update external satellites with types
  docs/satellites/external_satellites.json
Due: none

docs: also parse full GitHub/GitLab endpoints for external satellites
  docs/conf.py
  docs/copy_satellite_docs.py
Due: none

docs: update description of listing external satellites.
  docs/application_development/intro/listing.md
Due: none

docs: clairfy tag requirement
  docs/application_development/intro/listing.md
Due: none

Add new requirement for docs
  pyproject.toml
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/ctrl/mc: fix appending file extension when missing
  cxx/controllers/MissionControl/MissionControl.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/fsm: avoid hot loops when waiting for steady state
  cxx/constellation/satellite/FSM.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/chirp: ignore OFFER with port zero
  cxx/constellation/core/chirp/Manager.cpp
  cxx/tests/test_core_chirp_manager.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx: do not pass iterator variables by reference to async tasks
  cxx/constellation/controller/Controller.cpp
  cxx/constellation/controller/Controller.hpp
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/FSM.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/ctrl: do not cache commands
  cxx/constellation/controller/Controller.cpp
  cxx/constellation/controller/Controller.hpp
  cxx/constellation/gui/QController.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/heartbeats: dispatch callbacks after freeing mutex
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
  cxx/constellation/core/heartbeat/HeartbeatSend.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

python: failed is ERROR state, but DEAD should be set independently
  python/constellation/core/heartbeatchecker.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python: heartbeat needs to update state to DEAD even without interrupt
  python/constellation/core/heartbeatchecker.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python: state should always be updated
  python/constellation/core/heartbeatchecker.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python: add helper to update the state
  python/constellation/core/heartbeatchecker.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/ctrl: rename for clarity
  cxx/constellation/controller/Controller.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

py/ctrl: get satellite name explicitly
  python/constellation/core/controller.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/cscp: do not accept arguments for CSCP commnds that take none
  python/constellation/core/commandmanager.py
  python/tests/test_cmd_receiver.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Path conditions:
  build:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:alma10: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-mingw: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:alma10: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:fedora-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  deploy:bundle-mingw-artifacts: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
