Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

Path conditions:
  build:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:alma10: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-mingw: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:alma10: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:fedora-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  deploy:bundle-mingw-artifacts: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile

cxx/message/CDTP2: make msgpack_(un)pack functions public
  cxx/constellation/core/message/CDTP2Message.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

CI: disable LSAN for now
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs: fix cross-link
  docs/operator_guide/concepts/controller.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/operator_guide/tutorials/ipython_controller.md
Due: none

docs: add cross-links to new tutorial
  docs/operator_guide/concepts/controller.md
  docs/operator_guide/tutorials/single_satellite.md
Due: none

docs: add ipython controller tutorial
  docs/operator_guide/index.md
  docs/operator_guide/tutorials/ipython_controller.md
Due: none

CI: explicitly set GitHub permissions
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
Due: none

docs: slightly simplify single satellite tutorial
  docs/operator_guide/tutorials/single_satellite.md
Due: none

py/ctrl: rename remaining 'satellite class' artefacts to 'satellite type'
  docs/operator_guide/tutorials/ipython_controller.md
  docs/operator_guide/tutorials/single_satellite.md
  python/constellation/core/controller.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Added _on_state_change callback to HeartbeatChecker
  python/constellation/core/heartbeatchecker.py
  python/tests/test_heartbeat.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Added _on_satellite_update callback to BaseController
  python/constellation/core/controller.py
  python/tests/test_controller.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python/core: add TransitionCommand Enum
  python/constellation/core/protocol/cscp1.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python/core: add tainted member to HeartbeatState
  python/constellation/core/heartbeatchecker.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/core: rename flag to outdated, better captures the meaning
  python/constellation/core/heartbeatchecker.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python/core/controller: set and clear outdated flag when sending transition commands
  python/constellation/core/controller.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python: fix import
  python/constellation/core/controller.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/core/contr: simplify logic around heartbeat outdated
  python/constellation/core/controller.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/core/ctrl: first attempt at a await_state_change method
  python/constellation/core/controller.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

py/controller: consolidate await_state commands
  docs/operator_guide/howtos/scanning_python.md
  python/constellation/core/controller.py
  python/tests/test_controller.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/ctrl: move awaitState to using outdated satellite connection state info
  cxx/constellation/controller/Controller.cpp
  cxx/constellation/controller/Controller.hpp
  cxx/constellation/controller/MeasurementQueue.cpp
  cxx/constellation/controller/MeasurementQueue.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/ctrl: when sending transition commands, mark satellite state as outdated
  cxx/constellation/controller/Controller.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/ctrl: mark satellite states as up-to-date upon extrasystole
  cxx/constellation/controller/Controller.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

py/sat: add cpu and memory metrics
  pyproject.toml
  python/constellation/core/satellite.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/ctrl: fix locking
  cxx/constellation/controller/Controller.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs: add new metrics
  docs/satellites/_metrics_py_Satellite.md
  pyproject.toml
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/ctrl: unlock mutex when condition is true
  cxx/constellation/controller/Controller.cpp
  cxx/tests/test_controller_base.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

python: cpucount might return None
  python/constellation/core/satellite.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Added TTi QL355TP satellite
  docs/satellites/external_satellites.json
Due: none

cxx: minor cleanup
  cxx/constellation/core/config/value_types.hpp
  cxx/constellation/core/utils/std_future.hpp
  cxx/constellation/core/utils/type.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs/website: move to Space Grotesk as font
  LICENSES/OFL-1.1.txt
  REUSE.toml
  docs/_static/css/custom.css
  docs/_static/fonts/SpaceGrotesk[wght].woff2
Due: none

cxx: remove unused header includes
  cxx/constellation/controller/Controller.cpp
  cxx/constellation/controller/MeasurementQueue.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

Add some spelling exceptions
  docs/.spelling_jargon.txt
  docs/.spelling_names.txt
Due: none

docs: udpate custom CSS for homepage
  docs/_static/css/custom.css
Due: none

docs: rephrase text on landing page
  docs/index.md
Due: none

docs: add bg of full width to frontpage
  docs/_static/css/custom.css
  docs/index.md
Due: none

docs: add js function for animation on landing page
  .clang-format
  docs/_static/js/hero.js
Due: none

fix linter & jargon
  docs/.spelling_jargon.txt
Due: none

docs: make top padding relative to vierport height
  docs/_static/css/custom.css
Due: none

docs: fix dark mode of landing page, add glow to logo
  docs/_static/css/custom.css
Due: none

cxx/core/utils: add time conversion functions
  cxx/constellation/core/meson.build
  cxx/constellation/core/utils/time.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts
