Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Path conditions:
  build:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile

python/tests: use hbc fixture for mock_satellite
  python/tests/conftest.py
  python/tests/test_heartbeat.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

CI: upgrade pip before using venv
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

python/tests: use hbc fixture for mock_controller
  python/tests/conftest.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

CI: also install setuptools
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

python/core/monitorlistener: improve shutdown
  python/constellation/core/monitoring.py
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/tests: replace sleep with 'wait for' logic
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/tests: replace sleep with 'wait for' logic
  python/tests/test_controller.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

docs: add sphinx-copybutton
  docs/conf.py
  pyproject.toml
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

pyproject: split optional dependencies by line
  pyproject.toml
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

docs: add basic Python API docs
  docs/conf.py
  docs/reference/index.md
  docs/reference/python/.gitignore
  pyproject.toml
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

docs: exclude satellites from python API docs
  docs/conf.py
Due: none

python/core/hbc: rename logger
  python/constellation/core/heartbeatchecker.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/hbc: improve thread safety
  python/constellation/core/heartbeatchecker.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/hbc: add sleep in thread loop
  python/constellation/core/heartbeatchecker.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/hbc: allow to unregister
  python/constellation/core/heartbeatchecker.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/controller: unregister stale hb
  python/constellation/core/controller.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/core/hbc: fine-tune parameters
  python/constellation/core/heartbeatchecker.py
  python/tests/conftest.py
  python/tests/test_heartbeat.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

cxx/satellite: remove getConfig() function
  cxx/constellation/satellite/BaseSatellite.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs/howto/cxxsat: add note about configuration
  docs/manual/howtos/satellite_cxx.md
Due: none

cxx/core/heartbeats: reduce frequency
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/satellite/fsm: make state atomic
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/FSM.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Modified to use Controller instead of the explicit Python module call
  docs/manual/tutorials/single_satellite.md
Due: none

Added example config file for the example satellite, and documented how to use it in the tutorial.
  docs/manual/tutorials/single_satellite.md
  python/constellation/satellites/example/example.py
  python/constellation/satellites/example_config.conf
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

docs/tut: add Controller --config option
  docs/manual/tutorials/single_satellite.md
Due: none

docs/tut: amend loading configs in Python
  docs/manual/tutorials/single_satellite.md
Due: none

docs/tut/firstsat: update text to new Sputnik name and new CLI controller features
  docs/manual/tutorials/single_satellite.md
Due: none

docs: typo
  docs/manual/tutorials/single_satellite.md
Due: none

Added the REUSE things on top of the config file
  python/constellation/satellites/example_config.conf
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

Updated so as to explicitly only initialise the example satellite
  docs/manual/tutorials/single_satellite.md
Due: none

Added entry point installation, and added the example satellite thusly
  docs/manual/howtos/satellite_py.md
  docs/manual/tutorials/single_satellite.md
  pyproject.toml
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

py: drop example config
  python/constellation/satellites/example_config.conf
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

docs: even out some things in tutorial
  docs/manual/tutorials/single_satellite.md
Due: none

docs: add type and name to satellite descr
  docs/manual/concepts/satellite.md
Due: none

docs/tut/single_sat: update config text
  docs/manual/tutorials/single_satellite.md
Due: none

py: fix entry point for example satellite
  docs/manual/howtos/satellite_py.md
Due: none
