Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

build:alma9-gcc14:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:alma10:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:debian-clang-libcxx:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:fedora-clang:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:fedora-gcc:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:fedora-mingw:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:ubuntu-22.04:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull-push
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:ubuntu-24.04:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:python-3.11:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools
  - pip install meson-python meson ninja
  ...

build:python-3.12:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools
  - pip install meson-python meson ninja
  ...

build:python-3.13:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools
  - pip install meson-python meson ninja
  ...

pre-commit: update hooks
  .pre-commit-config.yaml
Due: none

meson: update wraps
  subprojects/catch2.wrap
  subprojects/cpr.wrap
  subprojects/mimalloc.wrap
  subprojects/spdlog.wrap
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs: add reference paper to about page
  docs/about.md
Due: none

Add colored QR code linking to website
  docs/etc/qr-code-color.png
  docs/etc/qr-code-color.svg
Due: none

docs: make bibtex known
  docs/_static/css/custom.css
Due: none

docs: amend about page with citations
  .codespellrc
  docs/about.md
Due: none

docs: add spelling exclusions
  docs/.spelling_jargon.txt
  docs/.spelling_names.txt
Due: none

docs: improve configuration sections docs
  docs/application_development/functionality/configuration_sections.md
  docs/application_development/index.md
  docs/application_development/tutorials/satellite_cxx.md
  docs/application_development/tutorials/satellite_py.md
Due: none

reconfigurable is a word
  docs/.spelling_jargon.txt
Due: none

docs: add note on different ways to write tables in TOML
  docs/application_development/functionality/configuration_sections.md
  docs/operator_guide/concepts/configuration_files.md
Due: none

docs: remove C++-specific part from YAML parsing note
  docs/operator_guide/concepts/configuration_files.md
Due: none

docs: the plural of parser is a word
  docs/.spelling_jargon.txt
Due: none

docs: some polishing
  docs/application_development/functionality/configuration_sections.md
  docs/application_development/tutorials/satellite_cxx.md
  docs/operator_guide/concepts/configuration_files.md
Due: none

Release 0.7-rc1
  meson.build
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

CI: do not publish rc releases
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

CI: separate release from source code upload
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

CI: use access token instead of job token
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs: fix Qt svg package names
  docs/application_development/intro/install_from_source.md
Due: none

docs: mention TransmitterSatelliteArgumentParser needs to be used for Python transmitters
  docs/application_development/functionality/data_transmission.md
Due: none

H5DataWriter: h5py included HDF5 on Windows
  python/constellation/satellites/H5DataWriter/README.md
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/core/config: keep empty sections around if not unused
  cxx/constellation/core/config/Configuration.cpp
  cxx/tests/test_core_config.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

py/core/config: keep empty sections around if not unused
  python/constellation/core/configuration.py
  python/tests/test_configuration.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs: clarify unused parameters are removed
  docs/application_development/functionality/configuration_sections.md
Due: none

cxx/ctrl/MC: move to tree view for satellite response, properly render dicts
  cxx/constellation/gui/QResponseDialog.cpp
  cxx/constellation/gui/QResponseDialog.hpp
  cxx/constellation/gui/QResponseDialog.ui
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx: allow recursion
  cxx/constellation/gui/QResponseDialog.cpp
  cxx/constellation/gui/QResponseDialog.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/config: setDefault should not be const
  cxx/constellation/core/config/Configuration.cpp
  cxx/constellation/core/config/Configuration.hpp
  cxx/constellation/core/config/Configuration.ipp
  cxx/tests/test_core_config.cpp
  docs/application_development/tutorials/satellite_cxx.md
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx: make telemetryconsole logo square
  docs/logo/logo_telemetry.png
  docs/logo/logo_telemetry.svg
Due: none

cxx/core/config: add non-const getter for sections
  cxx/constellation/core/config/Configuration.cpp
  cxx/constellation/core/config/Configuration.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx: fix incorrect default CHP max interval
  cxx/constellation/core/protocol/CHP_definitions.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx: mark supportsReconfigure() as nodiscard
  cxx/constellation/satellite/BaseSatellite.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs: remove metric types from metrics tables
  cxx/satellites/RandomTransmitter/README.md
  cxx/satellites/Sputnik/README.md
  docs/application_development/functionality/metrics.md
  docs/operator_guide/concepts/telemetry.md
  docs/satellites/_metrics_cxx_ReceiverSatellite.md
  docs/satellites/_metrics_cxx_TransmitterSatellite.md
  docs/satellites/_metrics_py_ReceiverSatellite.md
  docs/satellites/_metrics_py_TransmitterSatellite.md
  python/constellation/satellites/H5DataWriter/README.md
  python/constellation/satellites/Keithley/README.md
  python/constellation/satellites/LakeShore218/README.md
  python/constellation/satellites/LeCroy/README.md
  python/constellation/satellites/Mariner/README.md
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs: add missing RUN_ID framework metric for C++
  docs/satellites/_metrics_cxx_Satellite.md
Due: none

docs: add red box to not copy or store sections
  docs/application_development/functionality/configuration_sections.md
Due: none

docs: use current year for copyright
  docs/conf.py
Due: none

python: pretty print configuration in IPython
  python/constellation/core/configuration.py
  python/constellation/core/controller_configuration.py
  python/constellation/core/message/cdtp2.py
  python/constellation/core/message/cscp1.py
  python/tests/test_controller_configuration.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx: use sections for framework parameters
  cxx/constellation/controller/ControllerConfiguration.cpp
  cxx/constellation/core/config/Configuration.cpp
  cxx/constellation/core/config/value_types.cpp
  cxx/constellation/core/config/value_types.hpp
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/constellation/satellite/BaseSatellite.hpp
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/ReceiverSatellite.cpp
  cxx/constellation/satellite/ReceiverSatellite.hpp
  cxx/constellation/satellite/TransmitterSatellite.cpp
  cxx/constellation/satellite/TransmitterSatellite.hpp
  cxx/tests/test_controller_base.cpp
  cxx/tests/test_controller_config.cpp
  cxx/tests/test_core_config.cpp
  cxx/tests/test_core_config_values.cpp
  cxx/tests/test_satellite_base.cpp
  cxx/tests/test_satellite_data.cpp
  cxx/tests/test_satellite_fsm.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs: adapt for use of sections for framework parameters
  docs/operator_guide/concepts/autonomy.md
  docs/operator_guide/concepts/configuration_files.md
  docs/operator_guide/concepts/data.md
  docs/operator_guide/concepts/satellite.md
  docs/operator_guide/howtos/transition_order.md
  docs/operator_guide/tutorials/missioncontrol.md
  docs/operator_guide/tutorials/missioncontrol_empty.png
  docs/operator_guide/tutorials/missioncontrol_init_first.png
  docs/operator_guide/tutorials/missioncontrol_new.png
  docs/operator_guide/tutorials/missioncontrol_orbit.png
  docs/operator_guide/tutorials/missioncontrol_run.png
  docs/operator_guide/tutorials/missioncontrol_satellite_details.png
  docs/operator_guide/tutorials/missioncontrol_single_command.png
  docs/operator_guide/tutorials/missioncontrol_single_response.png
  docs/operator_guide/tutorials/observatory.md
  docs/operator_guide/tutorials/observatory_debug.png
  docs/operator_guide/tutorials/observatory_empty.png
  docs/operator_guide/tutorials/observatory_extra_subscription.png
  docs/operator_guide/tutorials/observatory_init.png
  docs/operator_guide/tutorials/observatory_message_detail.png
  docs/operator_guide/tutorials/observatory_multi_filter.png
  docs/operator_guide/tutorials/observatory_new.png
  docs/operator_guide/tutorials/observatory_text_filter.png
  docs/operator_guide/tutorials/single_satellite.md
  docs/satellites/_parameters_cxx_ReceiverSatellite.md
  docs/satellites/_parameters_cxx_Satellite.md
  docs/satellites/_parameters_cxx_TransmitterSatellite.md
  docs/satellites/_parameters_py_ReceiverSatellite.md
  docs/satellites/_parameters_py_Satellite.md
  docs/satellites/_parameters_py_TransmitterSatellite.md
  python/constellation/satellites/H5DataWriter/README.md
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python: use sections for framework parameters
  python/constellation/core/configuration.py
  python/constellation/core/fsm.py
  python/constellation/core/receiver_satellite.py
  python/constellation/core/satellite.py
  python/constellation/core/transmitter_satellite.py
  python/tests/test_cdtp.py
  python/tests/test_cfg.toml
  python/tests/test_cfg.yaml
  python/tests/test_configuration.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/ctrl/config: improve error message
  cxx/constellation/controller/ControllerConfiguration.cpp
  cxx/tests/test_controller_config.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

py/ctrlconfig: improve error message
  python/constellation/core/controller_configuration.py
  python/tests/test_controller_configuration.py
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Path conditions:
  build:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:alma10: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-mingw: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:alma10: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:fedora-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  deploy:bundle-mingw-artifacts: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
