Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

Path conditions:
  build:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:alma10: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-mingw: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:alma10: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:fedora-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  deploy:bundle-mingw-artifacts: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile

cxx/qt: prevent color being drawn outside combobox
  cxx/constellation/gui/QLogLevelComboBox.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs: ABlog needs base url to generate Atom feeds
  docs/conf.py
Due: none

EudaqNativeWriter: fix typo in README
  cxx/satellites/EudaqNativeWriter/README.md
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

pre-commit: update hooks
  .pre-commit-config.yaml
Due: none

pre-commit: fix setting to run successfully on all files
  .pre-commit-config.yaml
Due: none

markdownlint: ignore table-column-style for now
  .markdownlint.yaml
Due: none

CI: fix order of rules to fix DOC_EXTERNAL_SATELLITES variable
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

CI: use CI/CD variables for pages domain instead of hard-coded value
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

CI: add environment for website preview
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs: add spelling exceptions for pxar satellite
  docs/.spelling_jargon.txt
  docs/.spelling_names.txt
Due: none

docs/external-satellites: Add MADMAX satellites
  docs/satellites/external_satellites.json
Due: none

docs: Update spellings for external satellites
  docs/.spelling_jargon.txt
  docs/.spelling_names.txt
Due: none

LakeShore218: add to 'Environment Sensors' category
  python/constellation/satellites/LakeShore218/README.md
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Keithley: add to 'Power Supplies' category
  python/constellation/satellites/Keithley/README.md
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

CaenHV: add to 'Power Supplies' category
  python/constellation/satellites/CaenHV/README.md
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

LeCory: add to 'Oscilloscopes' category
  python/constellation/satellites/LeCroy/README.md
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs: move source install to appdev, extend flathub description
  docs/application_development/index.md
  docs/application_development/intro/install_from_source.md
  docs/application_development/tutorials/templates.md
  docs/operator_guide/get_started/install_from_flathub.md
  docs/operator_guide/index.md
Due: none

docs/installation: better structure, more description for Docker
  docs/framework_reference/flatpak.md
  docs/operator_guide/get_started/installation.md
Due: none

docs: restructure getting started section
  docs/operator_guide/get_started/install_from_docker.md
  docs/operator_guide/get_started/install_from_pypi.md
  docs/operator_guide/get_started/installation.md
  docs/operator_guide/get_started/whatis.md
  docs/operator_guide/index.md
Due: none

Add proselint in pre-commit
  .pre-commit-config.yaml
  .proselint.json
  REUSE.toml
  docs/operator_guide/get_started/installation.md
Due: none

pre-commit: Fix proselint suggestions
  .proselint.json
  cxx/satellites/FlightRecorder/README.md
  cxx/satellites/Sputnik/README.md
  docs/application_development/howtos/migrate_external_satellite.md
  docs/application_development/howtos/port_eudaq.md
  docs/application_development/intro/tools.md
  docs/application_development/tutorials/satellite_py.md
  docs/framework_reference/protocols.md
  docs/framework_reference/satellite.md
  docs/operator_guide/concepts/autonomy.md
  docs/operator_guide/concepts/constellation.md
  docs/operator_guide/concepts/logging.md
  docs/operator_guide/howtos/scanning_python.md
  python/constellation/satellites/Mariner/README.md
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

CI: add proselint job
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs: add what-is page
  docs/operator_guide/get_started/whatis.md
  docs/operator_guide/index.md
Due: none

EudaqNativeWriter: allow to set device number
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
  cxx/satellites/EudaqNativeWriter/README.md
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

CI: exclude some dirs for proselint, fix typos
  .gitlab-ci.yml
  docs/.spelling_names.txt
  docs/operator_guide/get_started/installation.md
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs: fix some annotations
  docs/framework_reference/contributing.md
  python/constellation/satellites/H5DataWriter/README.md
Due: build:fedora-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:fedora-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

docs/op/get_started: amend Python install description
  docs/operator_guide/get_started/installation.md
Due: none

docs: add explicit license intent
  docs/about.md
Due: none

docs/fw/release: mention OE recipes
  docs/framework_reference/release.md
Due: none

docs/proto: update UML diagrams
  docs/framework_reference/protocols.md
Due: none

docs: restructure what is in get-started and what in concepts.
  docs/operator_guide/concepts/constellation.md
  docs/operator_guide/get_started/whatis.md
Due: none

docs: add brief operator-level description of the protocols
  docs/operator_guide/concepts/constellation.md
  docs/protocols/index.rst
Due: none

docs: Fix typos
  docs/.spelling_jargon.txt
  docs/operator_guide/concepts/constellation.md
Due: none

docs: revamp instal from source
  docs/application_development/intro/install_from_source.md
Due: none

docs rename startup order
  docs/operator_guide/howtos/transition_order.md
  docs/operator_guide/index.md
Due: none

docs: add how-to for conditional transitions
  docs/operator_guide/howtos/transition_order.md
Due: none

docs: Python naming convention
  docs/.spelling_jargon.txt
  docs/framework_reference/naming.md
Due: none

Apply 4 suggestion(s) to 1 file(s)
  docs/operator_guide/howtos/transition_order.md
Due: none

docs/integrate/eudaq: mention file format
  docs/application_development/howtos/port_eudaq.md
Due: none

docs: open external links in new tab
  docs/conf.py
Due: none
