Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

build:alma9-cern:
  stage: build
  tags:
  - openstack
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull-push
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:debian-clang:
  stage: build
  tags:
  - openstack
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:debian-clang-libcxx:
  stage: build
  tags:
  - openstack
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:debian-gcc:
  stage: build
  tags:
  - openstack
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:fedora-clang:
  stage: build
  tags:
  - openstack
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:fedora-mingw:
  stage: build
  tags:
  - openstack
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:ubuntu-22.04:
  stage: build
  tags:
  - openstack
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:ubuntu-24.04:
  stage: build
  tags:
  - openstack
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:python-3.11:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools
  - pip install meson-python meson ninja
  image: python:3.11
  ...

build:python-3.12:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools
  - pip install meson-python meson ninja
  image: python:3.12

test:alma9-cern:
  stage: test
  script:
  - meson test -C build --suite Constellation --no-rebuild --print-errorlogs
  artifacts:
    reports:
      junit: build/meson-logs/testlog.junit.xml
  image: gitlab.desy.de:5555/constellation/build-images/alma9-cern:latest
  needs:
  - job: build:alma9-cern
    artifacts: true

cxx/core/msg: do not encode as msgpack string
  cxx/constellation/core/message/CHP1Message.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

python/core: adjust CHP protocol, add flags
  python/constellation/core/chp.py
  python/constellation/core/heartbeatchecker.py
  python/constellation/core/heartbeater.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/core/msg: check for empty number of frames
  cxx/constellation/core/message/CHP1Message.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/heartbeat: print flags
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/message: swap order or args in CHPMsg constructor, fix frame check
  cxx/constellation/core/message/CHP1Message.cpp
  cxx/constellation/core/message/CHP1Message.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: wire some boolean through - probably to be reverted
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/FSM.hpp
  cxx/tests/dummy_satellite.hpp
  cxx/tests/test_satellite_fsm.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core: fix linter
  cxx/constellation/core/heartbeat/HeartbeatSend.cpp
  cxx/constellation/core/message/CHP1Message.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

python/core: unpack status
  python/constellation/core/heartbeatchecker.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

python: fix CHP merge
  python/constellation/core/chp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx: prepare for FSM knowing about autonomous transitions
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
  cxx/constellation/core/heartbeat/HeartbeatManager.hpp
  cxx/constellation/core/heartbeat/HeartbeatSend.cpp
  cxx/constellation/core/heartbeat/HeartbeatSend.hpp
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/FSM.hpp
  cxx/tests/test_satellite_fsm.cpp
  cxx/tools/chp_sender.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

python/core/chp: allow sending additional frame with status message
  python/constellation/core/chp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/controller: print flags
  cxx/constellation/controller/Controller.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/controller: update last_message when status info is sent with heartbeat
  cxx/constellation/controller/Controller.cpp
  cxx/constellation/controller/Controller.hpp
  cxx/constellation/gui/QController.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CHP: move status message into separate optional frame
  cxx/constellation/core/message/CHP1Message.cpp
  docs/protocols/chp.md
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

python/core: adjust CHP protocol, multipart msgs
  python/constellation/core/chp.py
  python/constellation/core/heartbeatchecker.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx: add metainfo for Flathub
  REUSE.toml
  cxx/controllers/MissionControl/meson.build
  cxx/de.desy.constellation.metainfo.xml
  cxx/meson.build
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: update flatpak build instructions
  docs/.spelling_jargon.txt
  docs/.spelling_names.txt
  docs/framework_reference/flatpak.md
Due: none

move metainfo to docs/etc
  REUSE.toml
  cxx/meson.build
  docs/etc/ConstellationProtocols.drawio
  docs/etc/de.desy.constellation.metainfo.xml
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: add installation instructions for Flathub
  docs/framework_reference/flatpak.md
  docs/operator_guide/get_started/install_from_flathub.md
  docs/operator_guide/get_started/install_from_pypi.md
  docs/operator_guide/index.md
Due: none

cxx: improve pool exception handling in receiver stopping
  cxx/constellation/core/pools/BasePool.ipp
  cxx/constellation/satellite/ReceiverSatellite.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: remove useles rvaluesref
  cxx/constellation/satellite/ReceiverSatellite.hpp
  cxx/satellites/DevNullReceiver/DevNullReceiverSatellite.cpp
  cxx/satellites/DevNullReceiver/DevNullReceiverSatellite.hpp
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.cpp
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.hpp
  cxx/tests/test_satellite_data.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: add framework metrics to satellite docs
  docs/copy_satellite_docs.py
  docs/satellites/_cxx_TransmitterSatellite.md
  docs/satellites/_metric_header.md
  docs/satellites/_metrics_cxx_ReceiverSatellite.md
  docs/satellites/_metrics_cxx_Satellite.md
  docs/satellites/_metrics_cxx_TransmitterSatellite.md
  docs/satellites/_metrics_py_DataReceiver.md
  docs/satellites/_metrics_py_Satellite.md
  docs/satellites/_parameters_cxx_ReceiverSatellite.md
  docs/satellites/_parameters_cxx_Satellite.md
  docs/satellites/_parameters_cxx_TransmitterSatellite.md
  docs/satellites/_parameters_py_DataReceiver.md
  docs/satellites/_parameters_py_Satellite.md
Due: none

cxx: add bytes received metric to ReceiverSatellite
  cxx/constellation/core/message/CDTP1Message.cpp
  cxx/constellation/core/message/CDTP1Message.hpp
  cxx/constellation/satellite/ReceiverSatellite.cpp
  cxx/constellation/satellite/ReceiverSatellite.hpp
  cxx/tests/test_core_message.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

DevNullReciver: remove bytes_received
  cxx/constellation/satellite/ReceiverSatellite.cpp
  cxx/constellation/satellite/ReceiverSatellite.hpp
  cxx/satellites/DevNullReceiver/DevNullReceiverSatellite.cpp
  cxx/satellites/DevNullReceiver/DevNullReceiverSatellite.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

EudaqNativeWriter: remove bytes_written
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.hpp
  cxx/satellites/EudaqNativeWriter/FileSerializer.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/satellite: only send bytes received in starting, RUN and stoppping
  cxx/constellation/satellite/ReceiverSatellite.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: add BYTES_TRANSMITTED metrics for transmitters
  cxx/constellation/satellite/TransmitterSatellite.cpp
  cxx/constellation/satellite/TransmitterSatellite.hpp
  docs/satellites/_metrics_cxx_TransmitterSatellite.md
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: add release instructions
  docs/framework_reference/index.md
  docs/framework_reference/release.md
Due: none

cxx/listener: improve logic and comments
  cxx/constellation/listener/CMDPListener.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

fix tests & header include
  cxx/constellation/controller/Controller.cpp
  cxx/constellation/core/message/exceptions.hpp
  cxx/constellation/satellite/CommandRegistry.ipp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/satellite: FSM uses msgpack helpers
  cxx/constellation/core/message/exceptions.hpp
  cxx/constellation/satellite/FSM.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/metric: move to msgpack helpers
  cxx/constellation/core/metrics/Metric.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core: fix linter
  cxx/constellation/controller/Controller.cpp
  cxx/constellation/core/message/BaseHeader.cpp
  cxx/constellation/core/message/CDTP1Message.cpp
  cxx/constellation/core/message/CHP1Message.cpp
  cxx/constellation/core/message/CSCP1Message.cpp
  cxx/constellation/core/metrics/Metric.cpp
  cxx/constellation/core/utils/msgpack.hpp
  cxx/constellation/satellite/FSM.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core: catch masgpack errors
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/constellation/satellite/CommandRegistry.ipp
  cxx/constellation/satellite/FSM.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: separate between packing & unpacking errors
  cxx/constellation/core/message/BaseHeader.cpp
  cxx/constellation/core/message/CDTP1Message.cpp
  cxx/constellation/core/message/CHP1Message.cpp
  cxx/constellation/core/message/CSCP1Message.cpp
  cxx/constellation/core/metrics/Metric.cpp
  cxx/constellation/core/utils/exceptions.hpp
  cxx/constellation/core/utils/msgpack.hpp
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/constellation/satellite/FSM.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Path conditions:
  build:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-mingw: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
