Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Path conditions:
  build:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile

cxx/test: check default logging
  cxx/constellation/core/logging/log.hpp
  cxx/tests/test_core_logging.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/logging: add explanation for macro magic
  cxx/constellation/core/logging/log.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/log: add some nifty PP magic to have a macro with optional parameter
  cxx/constellation/core/logging/log.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/logging: default logger now DEFAULT and not empty
  cxx/constellation/core/logging/SinkManager.cpp
  cxx/constellation/satellite/Satellite.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core: make receiver a template helper class
  cxx/constellation/core/heartbeat/HeartbeatRecv.hpp
  cxx/constellation/core/meson.build
  cxx/constellation/core/receiver/Receiver.hpp
  cxx/constellation/core/receiver/Receiver.tpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/sub: add sub/unsib methods - need implementation
  cxx/constellation/core/subscriber/Subscriber.hpp
  cxx/constellation/core/subscriber/Subscriber.tpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core: rename to subscriber
  cxx/constellation/core/heartbeat/HeartbeatRecv.hpp
  cxx/constellation/core/meson.build
  cxx/constellation/core/subscriber/Subscriber.hpp
  cxx/constellation/core/subscriber/Subscriber.tpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/sub: document constructor
  cxx/constellation/core/subscriber/Subscriber.hpp
  cxx/constellation/core/subscriber/Subscriber.tpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/sub: implement default subscription topic list
  cxx/constellation/core/heartbeat/HeartbeatRecv.hpp
  cxx/constellation/core/subscriber/Subscriber.hpp
  cxx/constellation/core/subscriber/Subscriber.tpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/sub: use MD5Hash to compare chirp hosts and hostname
  cxx/constellation/core/subscriber/Subscriber.hpp
  cxx/constellation/core/subscriber/Subscriber.tpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/heartbeats: move callback
  cxx/constellation/core/heartbeat/HeartbeatRecv.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core: rename to SubscriberPool
  cxx/constellation/core/heartbeat/HeartbeatRecv.hpp
  cxx/constellation/core/meson.build
  cxx/constellation/core/subscriber/SubscriberPool.hpp
  cxx/constellation/core/subscriber/SubscriberPool.tpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/subscriber: remove namespace usage, put subscriberpoll in utils namespace
  cxx/constellation/core/heartbeat/HeartbeatRecv.hpp
  cxx/constellation/core/subscriber/SubscriberPool.hpp
  cxx/constellation/core/subscriber/SubscriberPool.tpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/sub: do not own logger
  cxx/constellation/core/heartbeat/HeartbeatRecv.hpp
  cxx/constellation/core/subscriber/SubscriberPool.hpp
  cxx/constellation/core/subscriber/SubscriberPool.tpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/heartbeat: drop dllexport
  cxx/constellation/core/heartbeat/HeartbeatRecv.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/sub: adjust documentation
  cxx/constellation/core/subscriber/SubscriberPool.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/sub: yes I actually *do* want this to be a reference
  cxx/constellation/core/subscriber/SubscriberPool.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/sub: add woraround for weird deadlock
  cxx/constellation/core/subscriber/SubscriberPool.tpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/satellite: make satellite function caller a FSM class member
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/FSM.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/satellite: make logger private
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/Satellite.hpp
  cxx/satellites/Prototype/Prototype.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/core/sub: fix docs
  cxx/constellation/core/subscriber/SubscriberPool.hpp
  cxx/constellation/core/subscriber/SubscriberPool.tpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/logging: fix coverity performance defect
  cxx/constellation/core/logging/CMDPSink.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/sat: FSM to access private member directly
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/Satellite.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: use clang-tidy to enforce naming scheme
  .clang-tidy
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: apply clang-format style
  cxx/constellation/core/chirp/BroadcastRecv.cpp
  cxx/constellation/core/chirp/BroadcastRecv.hpp
  cxx/constellation/core/chirp/Manager.cpp
  cxx/constellation/core/chirp/Manager.hpp
  cxx/constellation/core/config/Dictionary.cpp
  cxx/constellation/core/config/Dictionary.hpp
  cxx/constellation/core/config/Value.hpp
  cxx/constellation/core/logging/Logger.hpp
  cxx/constellation/core/logging/SinkManager.cpp
  cxx/constellation/core/logging/SinkManager.hpp
  cxx/constellation/core/meson.build
  cxx/constellation/core/message/CDTP1Message.cpp
  cxx/constellation/core/message/CDTP1Message.hpp
  cxx/constellation/core/message/CHP1Message.cpp
  cxx/constellation/core/message/CMDP1Message.cpp
  cxx/constellation/core/message/CMDP1Message.hpp
  cxx/constellation/core/message/CSCP1Message.cpp
  cxx/constellation/core/message/CSCP1Message.hpp
  cxx/constellation/core/message/PayloadBuffer.hpp
  cxx/constellation/exec/DSOLoader.cpp
  cxx/constellation/exec/DSOLoader.hpp
  cxx/constellation/satellite/CommandRegistry.hpp
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/FSM.hpp
  cxx/constellation/satellite/SatelliteImplementation.cpp
  cxx/constellation/satellite/SatelliteImplementation.hpp
  cxx/tests/test_core_chirp_broadcast.cpp
  cxx/tests/test_core_logging.cpp
  cxx/tests/test_core_message.cpp
  cxx/tests/test_satellite_fsm.cpp
  cxx/tests/test_satellite_implementation.cpp
  cxx/tools/broadcast_recv.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Rename some binaries for consistency
  cxx/satellites/Prototype/meson.build
  pyproject.toml
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/casts: add function to cast range to byte span
  cxx/constellation/core/utils/casts.hpp
  cxx/constellation/core/utils/std_future.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/PayloadBuffer: replace string constructor with range constructor
  cxx/constellation/core/message/PayloadBuffer.hpp
  cxx/tests/test_satellite_implementation.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/fsm: stop RUN thread on interrupt
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/FSM.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: use to_string to print uint8_t
  cxx/constellation/core/heartbeat/HeartbeatManager.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

fix entry points and imports after path change
  pyproject.toml
  python/constellation/satellites/caenhv/caenhv.py
  python/constellation/satellites/clabdaq2/rpgamma.py
  python/constellation/satellites/clabdaq2/rpneutron.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

broadcastmanager.py: simplify chirp log message
  python/constellation/core/broadcastmanager.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

extend caen satellite readme
  python/constellation/satellites/caenhv/README.md
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

caenhv satellite: fix read/write param values
  python/constellation/satellites/caenhv/caenhv.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

caenhv satellite: improve logging
  python/constellation/satellites/caenhv/caenhv.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

caen hv: update readme
  python/constellation/satellites/caenhv/README.md
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

change dto small letters in configuration parameters, Added possibility to read data from DDR memory
  python/constellation/satellites/clabdaq2/rpgamma.py
  python/constellation/satellites/clabdaq2/rpneutron.py
  python/constellation/satellites/clabdaq2/rpsatellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

rp: removed `super` calls and fixed return values
  python/constellation/satellites/clabdaq2/rpgamma.py
  python/constellation/satellites/clabdaq2/rpneutron.py
  python/constellation/satellites/clabdaq2/rpsatellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

Changes in init order
  python/constellation/satellites/clabdaq2/rpgamma.py
  python/constellation/satellites/clabdaq2/rpsatellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

caen hv: skip non R/W config parameters
  python/constellation/satellites/caenhv/caenhv.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp
