Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

build:alma9-gcc14:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:alma10:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:debian-clang-libcxx:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:fedora-clang:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:fedora-gcc:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:fedora-mingw:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:ubuntu-22.04:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull-push
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:ubuntu-24.04:
  stage: build
  cache:
  - key: meson-wrap-cache
    paths:
    - subprojects/packagecache/
    policy: pull
  - key: ccache-$CI_JOB_IMAGE
    paths:
    - $CCACHE_DIR/
    when: always
  script:
  ...

build:python-3.11:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools
  - pip install meson-python meson ninja
  ...

build:python-3.12:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools
  - pip install meson-python meson ninja
  ...

build:python-3.13:
  stage: build
  script:
  - pip install --no-build-isolation -e .[dev]
  - python3 -m build
  cache:
  - key: pip-cache
    paths:
    - $PIP_CACHE_DIR/
  before_script:
  - python3 -m venv venv
  - source venv/bin/activate
  - pip install --upgrade pip setuptools
  - pip install meson-python meson ninja
  ...

docs/op/logs: add description of logging facilities
  docs/operator_guide/concepts/logging.md
Due: none

docs/op/ctrl: add scriptable controller description from paper, adjusted code example
  docs/operator_guide/concepts/controller.md
Due: none

docs/op/config: intro
  docs/operator_guide/concepts/configuration_files.md
  docs/operator_guide/concepts/logging.md
Due: none

docs: move env variables to config file section
  docs/operator_guide/concepts/configuration_files.md
  docs/operator_guide/index.md
  docs/operator_guide/tutorials/env_variables.md
Due: none

docs/op/config: framework params
  docs/operator_guide/concepts/configuration_files.md
Due: none

docs/op/conf: add parameter types
  docs/operator_guide/concepts/configuration_files.md
Due: none

docs/config: add section about _default values
  docs/operator_guide/concepts/configuration_files.md
Due: none

docs/op/ctrl: add hint on version control
  docs/operator_guide/concepts/configuration_files.md
Due: none

docs/op/cfg: mention integer notation possibilities
  docs/operator_guide/concepts/configuration_files.md
Due: none

docs/op/conf: simplify tab-set-code
  docs/operator_guide/concepts/configuration_files.md
Due: none

docs/op/ctrl: slightly improve formulation
  docs/operator_guide/concepts/configuration_files.md
Due: none

docs/op/config: rename dict to section
  docs/operator_guide/concepts/configuration_files.md
Due: none

docs/op/config: document escaping and update pattern of env variables
  docs/operator_guide/concepts/configuration_files.md
Due: none

docs: add spelling exception - this is plain english, but okay, if you want...
  docs/.spelling_jargon.txt
Due: none

docs: fix import for python scanning script how-to
  docs/operator_guide/howtos/scanning_python.md
Due: none

cxx/core/util: env fixes
  cxx/constellation/core/utils/env.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/config: add method to make flattened dict for GUI
  cxx/constellation/core/config/Configuration.hpp
  cxx/constellation/core/config/value_types.cpp
  cxx/constellation/core/config/value_types.hpp
  cxx/constellation/gui/QResponseDialog.cpp
  cxx/tests/test_core_config_values.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/ctrl: new configuration file format to parse and emit dictionaries in config
  cxx/constellation/controller/ControllerConfiguration.cpp
  cxx/constellation/controller/ControllerConfiguration.hpp
  cxx/constellation/controller/exceptions.hpp
  cxx/constellation/controller/meson.build
  cxx/constellation/controller/toml_helpers.cpp
  cxx/constellation/controller/toml_helpers.hpp
  cxx/constellation/controller/toml_helpers.ipp
  cxx/constellation/controller/yaml_helpers.cpp
  cxx/constellation/controller/yaml_helpers.hpp
  cxx/controllers/MissionControl/MissionControl.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/config: resolve satellite env variables
  cxx/constellation/core/config/Configuration.ipp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx: fix tests for new config classes
  cxx/tests/cmdp_mock.hpp
  cxx/tests/meson.build
  cxx/tests/test_controller_config.cpp
  cxx/tests/test_core_config.cpp
  cxx/tests/test_core_config_values.cpp
  cxx/tests/test_core_message.cpp
  cxx/tests/test_files/good_config.toml
  cxx/tests/test_files/good_config.yaml
  cxx/tests/test_files/inhomogeneous_array.toml
  cxx/tests/test_files/invalid_config.yaml
  cxx/tests/test_files/invalid_toml.txt
  cxx/tests/test_satellite_base.cpp
  cxx/tests/test_satellite_data.cpp
  cxx/tests/test_satellite_fsm.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/config: use construct-and-swap idiom
  cxx/constellation/core/config/Configuration.cpp
  cxx/constellation/core/config/Configuration.hpp
  cxx/constellation/core/config/value_types.ipp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

CI: add -Wno-maybe-unitialized temporarily due to GCC 15 bug
  .gitlab-ci.yml
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/tests: drop lint for header inclusion of posix call
  cxx/tests/test_controller_config.cpp
  cxx/tests/test_core_config.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/env: add negative lookahead to check for escape characters
  cxx/constellation/core/utils/env.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/tests: unbreak tests: changed exceptions message & file parsing
  cxx/tests/test_core_config.cpp
  cxx/tests/test_files/env_config.toml
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/utils: add helpers to resolve environment variables for sat and ctrl
  cxx/constellation/core/utils/env.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/utils: add mutex for getenv access
  cxx/constellation/core/utils/env.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/config: improve dictionary formatting
  cxx/constellation/core/config/Configuration.cpp
  cxx/constellation/core/config/Configuration.hpp
  cxx/constellation/core/config/value_types.cpp
  cxx/constellation/core/config/value_types.hpp
  cxx/constellation/gui/QLogMessage.cpp
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/constellation/satellite/ReceiverSatellite.cpp
  cxx/tests/test_core_config.cpp
  cxx/tests/test_core_config_values.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/config: rethrow as InvalidValueError
  cxx/constellation/core/config/Configuration.ipp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/tests: add test for invalid key combination
  cxx/tests/test_core_config.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/config: simplify exceptions
  cxx/constellation/core/config/exceptions.cpp
  cxx/constellation/core/config/exceptions.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/ctrl: add getOptionalSection with reference wrapper
  cxx/constellation/core/config/Configuration.cpp
  cxx/constellation/core/config/Configuration.hpp
  cxx/tests/test_core_config.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/utils: add trailing zero when converting floats to strings
  cxx/constellation/core/utils/string.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx: add parsing of default values
  cxx/constellation/core/utils/env.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx: add workaround for libc++ msgpack exception catching
  cxx/constellation/core/utils/msgpack.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/tests: add tests for env variables
  cxx/tests/test_core_config.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx/core/utils: add environment variable helper
  cxx/constellation/core/meson.build
  cxx/constellation/core/utils/env.hpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

cxx: use different exceptions, we don't have a config object yet
  cxx/constellation/controller/toml_helpers.ipp
  cxx/constellation/controller/yaml_helpers.cpp
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

docs: document reading from the configuration (C++)
  docs/application_development/functionality/data_reception.md
  docs/application_development/tutorials/satellite_cxx.md
Due: none

cxx/core/config: add config dict object to exceptions to get prefix
  cxx/constellation/core/config/Configuration.cpp
  cxx/constellation/core/config/Configuration.hpp
  cxx/constellation/core/config/Configuration.ipp
  cxx/constellation/core/config/exceptions.cpp
  cxx/constellation/core/config/exceptions.hpp
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/ReceiverSatellite.cpp
  docs/application_development/tutorials/satellite_cxx.md
Due: build:alma9-gcc14, build:alma10, build:debian-clang-libcxx, build:fedora-clang, build:fedora-gcc, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-gcc14, test:alma10, test:debian-clang-libcxx, test:fedora-clang, test:fedora-gcc, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff, deploy:bundle-mingw-artifacts

Path conditions:
  build:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:alma10: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-mingw: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-gcc14: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:alma10: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:fedora-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  deploy:bundle-mingw-artifacts: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
