Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Path conditions:
  build:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-latest: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile

Apply 2 suggestion(s) to 2 file(s)
  REUSE.toml
Due: none

Disable Observatory when all Qt components are switched off
  scripts/meson_disable_qt_components.sh
Due: none

Observatory: do some scrolling
  cxx/listeners/Observatory/Observatory.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: use QVariant as item return type
  cxx/listeners/Observatory/LogDialog.hpp
  cxx/listeners/Observatory/Observatory.cpp
  cxx/listeners/Observatory/Observatory.hpp
  cxx/listeners/Observatory/QLogListener.cpp
  cxx/listeners/Observatory/QLogListener.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: elide multiline strings for overview
  cxx/listeners/Observatory/QLogMessage.cpp
  cxx/listeners/Observatory/QLogMessage.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: add new widget to status bar
  cxx/listeners/Observatory/Observatory.cpp
  cxx/listeners/Observatory/Observatory.hpp
  cxx/listeners/Observatory/Observatory.ui
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: update formatting
  cxx/listeners/Observatory/Observatory.cpp
  cxx/listeners/Observatory/Observatory.hpp
  cxx/listeners/Observatory/QLogFilter.cpp
  cxx/listeners/Observatory/QLogFilter.hpp
  cxx/listeners/Observatory/QLogListener.cpp
  cxx/listeners/Observatory/QLogListener.hpp
  cxx/listeners/Observatory/QLogMessage.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: move LogDialog into main UI file
  cxx/listeners/Observatory/LogDialog.hpp
  cxx/listeners/Observatory/Observatory.cpp
  cxx/listeners/Observatory/Observatory.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: use MissionControl utilities
  cxx/listeners/Observatory/QLogMessage.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: use QVariant method compatible with Qt5
  cxx/listeners/Observatory/Observatory.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: move cleanup, renaming & doc
  cxx/listeners/Observatory/LogDialog.hpp
  cxx/listeners/Observatory/Observatory.cpp
  cxx/listeners/Observatory/QLogListener.cpp
  cxx/listeners/Observatory/QLogListener.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: add new widget with message counts
  cxx/listeners/Observatory/Observatory.cpp
  cxx/listeners/Observatory/Observatory.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: add reuse
  REUSE.toml
  cxx/listeners/Observatory/LogDialog.hpp
  cxx/listeners/Observatory/QLogListener.cpp
  cxx/listeners/Observatory/QLogListener.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: properly load window geometry and store it
  cxx/listeners/Observatory/Observatory.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: implement filtering as QSortFilterProxy
  cxx/listeners/Observatory/QLogFilter.cpp
  cxx/listeners/Observatory/QLogFilter.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: get rid of weird pointers
  cxx/listeners/Observatory/Observatory.cpp
  cxx/listeners/Observatory/Observatory.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: increase default log dialog window size
  cxx/listeners/Observatory/LogDialog.ui
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Observatory: use deque for storage, no reallocation needed
  cxx/listeners/Observatory/QLogListener.cpp
  cxx/listeners/Observatory/QLogListener.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Keithley: release device when exiting
  python/constellation/satellites/Keithley/Keithley.py
  python/constellation/satellites/Keithley/Keithley2410.py
  python/constellation/satellites/Keithley/KeithleyInterface.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

Keithley: verify device properly identifies
  python/constellation/satellites/Keithley/Keithley.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

Python: make MonitoringListener modular
  python/constellation/core/monitoring.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python: adhere to CMDP protocol: use STAT and upper-case names
  python/constellation/core/cmdp.py
  python/tests/test_monitoring.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python: fix MonitoringListener subscribing to `STATS/`
  python/constellation/core/monitoring.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python: bring back FileMonitoringListener as own class
  python/constellation/core/monitoring.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python: fix monitoring tests
  python/tests/conftest.py
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python: sort 3rd-part satellites
  pyproject.toml
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python/cmdp: fix how metrics are packed
  python/constellation/core/cmdp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

docs/howto/satellite: remove receiving (separate howto) and extend metadata
  docs/manual/howtos/satellite_cxx.md
Due: none

docs/howto/satellite_cxx: rewrite data transmission section
  docs/manual/howtos/satellite_cxx.md
Due: none

docs/howto: re-add receiving data as separate how-to, can be extended...
  docs/manual/howtos/receiver_cxx.md
  docs/manual/index.md
Due: none

docs/howto/eudaq: fill in missing data transmission section
  docs/manual/howtos/port_eudaq.md
Due: none

Mariner: add example metric
  python/constellation/satellites/Mariner/Mariner.py
  python/constellation/satellites/Mariner/README.md
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

python: add standalone StatListener
  python/constellation/core/monitoring.py
  python/tests/conftest.py
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

Add InfluxDB satellite
  pyproject.toml
  python/constellation/satellites/InfluxDB/InfluxDB.py
  python/constellation/satellites/InfluxDB/README.md
  python/constellation/satellites/InfluxDB/__main__.py
  python/constellation/satellites/InfluxDB/meson.build
  python/constellation/satellites/meson.build
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

Rename InfluxDB satellite to Influx
  pyproject.toml
  python/constellation/satellites/Influx/Influx.py
  python/constellation/satellites/Influx/README.md
  python/constellation/satellites/Influx/__main__.py
  python/constellation/satellites/Influx/meson.build
  python/constellation/satellites/meson.build
Due: build:debian-gcc, build:python-3.11, build:python-3.12, test:debian-gcc, test:python-3.11, test:python-3.12, lint:coverage-py, lint:coverage-cpp

cxx/satellite: rename sendData methods for clarity
  cxx/constellation/satellite/TransmitterSatellite.cpp
  cxx/constellation/satellite/TransmitterSatellite.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs/howto/satellite_cxx: adjust to new method names
  docs/manual/howtos/port_eudaq.md
  docs/manual/howtos/satellite_cxx.md
Due: none

cxx/satellites: use new method name in RandomTransmitter
  cxx/satellites/RandomTransmitter/RandomTransmitterSatellite.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/tests: adjust data test for satellite to new data send method names
  cxx/tests/test_satellite_data.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

meson: fix satellite libs not being installed
  cxx/satellites/meson.build
Due: build:alma9-cern, build:debian-clang, build:debian-gcc, build:fedora-latest, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-gcc, test:fedora-latest, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff
