Repository constellation-daq/Constellation: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Path conditions:
  build:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  build:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:fedora-mingw: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  build:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  build:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:alma9-cern: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-clang-libcxx: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:debian-gcc: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  test:fedora-clang: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-22.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:ubuntu-24.04: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile
  test:python-3.11: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.12: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  test:python-3.13: any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml
  lint:coverage-py: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:coverage-cpp: (any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile) or (any of: .gitlab-ci.yml, meson.build, python/**/*, pyproject.toml)
  lint:clang-tidy-diff: any of: .gitlab-ci.yml, meson.build, cxx/**/*, subprojects/**/*, .clang-tidy, gcovr.cfg, docs/Doxyfile

feat(py-tests): add test for SAFE state
  python/tests/test_satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

fix(py-sat): SAFE state transition
  python/constellation/core/satellite.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

observatory: use local time for tdisplay
  cxx/listeners/Observatory/Observatory.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

feat(py-tests): test for interrupted data receiver
  python/tests/conftest.py
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

feat(py-receiver): make EOR timeout configurable
  python/constellation/core/datareceiver.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

fix(py-receiver): no EOR timeout when interrupting
  python/constellation/core/datareceiver.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

perf(py-tests): less sleep() in while with timeout
  python/tests/conftest.py
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

refactor(py-receiver): reorder (private) methods
  python/constellation/core/datareceiver.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

refactor(py-hbc): unique attribute + method names
  python/constellation/core/heartbeatchecker.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

style(py-hb)!: make attribute names unique
  python/constellation/core/heartbeater.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Revert "fix(py-receiver): no EOR timeout when interrupting"
  python/constellation/core/datareceiver.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

fix(py-tests): explicitly set eor timeout value
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

fix(py-sender): clear EOR/BOR flags on start
  python/constellation/core/datasender.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

fix(py-sender): interrupt clean-up and EOR sending
  python/constellation/core/datasender.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

fix(py-tests): fix accidentally removed line
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

fix(py-tests): avoid racing condition
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

fix(py-tests): renamed heartbeater attribute
  python/tests/test_heartbeat.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

feat(py-tests): fcn to check log output for err
  python/tests/conftest.py
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

style(py-ctrl): log msg info->warning
  python/constellation/core/controller.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

style(py-hbc): add debug log msg
  python/constellation/core/heartbeatchecker.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

fix(py-ctrl): add timeout when tearing down thread
  python/constellation/core/controller.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

fix(py-tests): increase timeout to ensure margin
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

sat/mattermost: add backticks to run ID
  cxx/satellites/Mattermost/MattermostSatellite.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

fix(py-tests): chirp transmitter args
  python/tests/test_monitoring.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

fix(py-tests): improve timeout values for setup
  python/tests/test_cdtp.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

fix(py-cmdp): fix teardown
  python/constellation/core/cmdp.py
  python/tests/test_monitoring.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

Mattermost: add option to only log in RUN state
  cxx/satellites/Mattermost/MattermostSatellite.cpp
  cxx/satellites/Mattermost/MattermostSatellite.hpp
  cxx/satellites/Mattermost/README.md
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

Mattermost: disable only_in_run by default
  cxx/satellites/Mattermost/MattermostSatellite.cpp
  cxx/satellites/Mattermost/README.md
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/sat/sputnik: register metrics early
  cxx/satellites/Sputnik/SputnikSatellite.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: expire reports after one week
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: upload meson testlog on failure
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: expose website artifact in merge requests
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: always upload test:debian-gcc artifacts since they are required for coverage
  .gitlab-ci.yml
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

CI: add link to website preview and PDFs as report
  .gitlab-ci.yml
  docs/framework_reference/index.md
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, build:python-3.11, build:python-3.12, build:python-3.13, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx: always add loopback interface and remove duplicate interfaces
  cxx/constellation/core/networking/asio_helpers.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

python: always add loopback interface and move to list to avoid sorting
  python/constellation/core/broadcastmanager.py
  python/constellation/core/chirp.py
  python/constellation/core/multicast.py
  python/constellation/core/network.py
  python/tests/conftest.py
  python/tests/test_chirp.py
  python/tests/test_monitoring.py
Due: build:debian-gcc, build:python-3.11, build:python-3.12, build:python-3.13, test:debian-gcc, test:python-3.11, test:python-3.12, test:python-3.13, lint:coverage-py, lint:coverage-cpp

cxx/satellite: provide reason to satellite interupt and failure
  cxx/constellation/satellite/BaseSatellite.cpp
  cxx/constellation/satellite/BaseSatellite.hpp
  cxx/constellation/satellite/FSM.cpp
  cxx/constellation/satellite/Satellite.cpp
  cxx/constellation/satellite/Satellite.hpp
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.cpp
  cxx/satellites/EudaqNativeWriter/EudaqNativeWriterSatellite.hpp
  cxx/satellites/FlightRecorder/FlightRecorderSatellite.cpp
  cxx/satellites/FlightRecorder/FlightRecorderSatellite.hpp
  cxx/satellites/Mattermost/MattermostSatellite.cpp
  cxx/satellites/Mattermost/MattermostSatellite.hpp
  cxx/tests/dummy_satellite.hpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/sat/fsm: pass failure reason as payload
  cxx/constellation/satellite/FSM.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

cxx/sat/mattermost: unused reason in failure
  cxx/satellites/Mattermost/MattermostSatellite.cpp
Due: build:alma9-cern, build:debian-clang, build:debian-clang-libcxx, build:debian-gcc, build:fedora-clang, build:fedora-mingw, build:ubuntu-22.04, build:ubuntu-24.04, test:alma9-cern, test:debian-clang, test:debian-clang-libcxx, test:debian-gcc, test:fedora-clang, test:ubuntu-22.04, test:ubuntu-24.04, lint:coverage-py, lint:coverage-cpp, lint:clang-tidy-diff

docs: start documenting log topics
  docs/operator_guide/concepts/logging.md
Due: none
